<ion-view>
<ion-content class="text-center has-header has-footer padding">

<p>

<h2 ng-if="user_type==USER_TYPE.SUPPLIER" class="title">Register As New Supplier</h2>
<h2 ng-if="user_type==USER_TYPE.STOCKIST" class="title">Register As New Stockist</h2>
<h2 ng-if="user_type==USER_TYPE.DROPSHIP" class="title">Register As New Dropship</h2>

<img src="{{authProfile.picture}}" class="img-circle profile-image" width="100">
<hr>

<div class="item text-left">

<form role="form">
<div class="form-group" ng-form='registrationForm'>

       
     <!-- first name -->
     <label class="item-input">
      <input type="text" class="form-control" placeholder="First Name" ng-model="newUser.first_name" required>
    </label>

     <!-- last name -->
     <label class="item-input">
      <input type="text" class="form-control" placeholder="Last Name" ng-model="newUser.last_name" required>
    </label>

    <!-- email -->
    <label class="item-input">
      <input type="text" class="form-control" placeholder="Email" ng-model="newUser.email" >
    </label> 
      
    <!-- phone number -->      
    <label class="item-input">
      <input type="text" class="input-medium bfh-phone" placeholder="Phone Number" ng-model="newUser.phone_number" required data-country="US">
    </label> 
   
    <!-- address-line1 input-->
    <label class="item-input">
      <input type="text" class="form-control" id="address-line1" name="address-line1" placeholder="Address Line 1" ng-model="newUser.address_line_1" required>
    </label>    

    <!-- address-line2 input-->
    <label class="item-input">
      <input type="text" class="form-control" id="address-line2" name="address-line2" placeholder="Address Line 2" ng-model="newUser.address_line_2">
    </label>    

    <!-- city input-->
    <label class="item-input">
      <input type="text" class="form-control" id="city" name="city" placeholder="City" ng-model="newUser.city" required>
    </label>      

    <!-- postal-code input-->
    <label class="item-input">
      <input type="text" class="form-control" id="postal-code" name="postal-code" placeholder="Postal Code" ng-model="newUser.postal_code" required>
    </label>        

     <!-- state -->
    <div class="list">
    <label class="item-input item-select">
      <div class="input-label" ng-show="newUser.state == null">State</div>
      <div class="input-label" ng-show="newUser.state != ''">{{newUser.state}}</div>
      <select ng-model="newUser.state" required>
        <option selected>Johor</option>
        <option>Kedah</option>
        <option>Kelantan</option>
        <option>Kuala Lumpur</option>
        <option>Labuan</option>
        <option>Malacca</option>
        <option>Negeri Sembilan</option>
        <option>Pahang</option>
        <option>Penang</option>
        <option>Perak</option>
        <option>Perlis</option>
        <option>Putrajaya</option>
        <option>Sabah</option>
        <option>Sarawak</option>
        <option>Selangor</option>
        <option>Terengganu</option>
      </select>
    </label>

    <!-- about -->
    <label class="item-input">
    <textarea class="form-control" placeholder="Tell more about yourself (optional)" rows="4" ng-model="newUser.about"></textarea>
    </label>

  <div class="text-center" ng-show="loading">
      Registering Your Account as {{user_type.getUserType()}}<br>
      {{loadMessage}}<br>
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
  </div>
  
  <button ng-if="user_type==USER_TYPE.SUPPLIER" ng-disabled="!registrationForm.$valid || loading" type="submit" 
  class="button button-block button-{{USER_TYPE.ION_COLOR.SUPPLIER}}" ng-click="createNewUser()">Register as New Supplier</button>

  <button ng-if="user_type==USER_TYPE.STOCKIST" ng-disabled="!registrationForm.$valid || loading" type="submit" 
  class="button button-block button-{{USER_TYPE.ION_COLOR.STOCKIST}}" ng-click="createNewUser()">Register as New Stockist</button>

  <button ng-if="user_type==USER_TYPE.DROPSHIP" ng-disabled="!registrationForm.$valid || loading" type="submit" 
  class="button button-block button-{{USER_TYPE.ION_COLOR.DROPSHIP}}" ng-click="createNewUser()">Register as New Dropship</button>

  </div>
  </form>

</div>
</p>
</ion-view>
</ion-content>