<ion-view>
<ion-content class="text-center has-header has-footer padding">

<p>

<h2 ng-if="user_type==USER_TYPE.SUPPLIER" class="title">Register As New Supplier</h2>
<h2 ng-if="user_type==USER_TYPE.STOCKIST" class="title">Register As New Stockist</h2>
<h2 ng-if="user_type==USER_TYPE.DROPSHIP" class="title">Register As New Dropship</h2>

<img src="{{authProfile.picture}}" class="img-circle profile-image" width="100">
<hr>

<div class="text-left">

<form role="form">
<div class="form-group" ng-form='agentform'>

  <label class="item item-input">
    <input type="text" class="form-control" id="first_name" placeholder="First Name" ng-model="newUser.first_name" required>
  </label>

  <label class="item item-input">
    <input type="text" class="form-control" id="last_name" placeholder="Last Name" ng-model="newUser.last_name" required>
  </label>

  <label class="item item-input">
    <input type="text" class="input-medium bfh-phone" placeholder="Phone Number" id="phone_number" ng-model="newUser.phone_number" required data-country="US">
  </label>  

  <label class="item item-input">
    <input type="text" class="form-control" placeholder="Email" id="email" ng-model="newUser.email" >
  </label>  

  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">State</div>
      <select ng-model="newUser.state" required>
        <option selected>Johor</option>
        <option>Kedah</option>
        <option>Kelantan</option>
        <option>Kuala Lumpur</option>
        <option>Labuan</option>
        <option>Malacca</option>
        <option>Negeri Sembilan</option>
        <option>Pahang</option>
        <option>Penang</option>
        <option>Perak</option>
        <option>Perlis</option>
        <option>Putrajaya</option>
        <option>Sabah</option>
        <option>Sarawak</option>
        <option>Selangor</option>
        <option>Terengganu</option>
      </select>
    </label>


  <label class="item item-input">
    <textarea class="form-control" placeholder="Tell more about yourself (optional)" rows="4" ng-model="newUser.about"></textarea>
    </label>

  </div>

  <div class="text-center" ng-show="loading">
      Registering Your Account as {{user_type.getUserType()}}<br>
      {{loadMessage}}<br>
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
  </div>
  
  <button ng-if="user_type==USER_TYPE.SUPPLIER" ng-disabled="!agentform.$valid || loading" type="submit" 
  class="button button-block button-{{USER_TYPE.ION_COLOR.SUPPLIER}}" ng-click="createNewUser()">Register as New Supplier</button>

  <button ng-if="user_type==USER_TYPE.STOCKIST" ng-disabled="!agentform.$valid || loading" type="submit" 
  class="button button-block button-{{USER_TYPE.ION_COLOR.STOCKIST}}" ng-click="createNewUser()">Register as New Stockist</button>

  <button ng-if="user_type==USER_TYPE.DROPSHIP" ng-disabled="!agentform.$valid || loading" type="submit" 
  class="button button-block button-{{USER_TYPE.ION_COLOR.DROPSHIP}}" ng-click="createNewUser()">Register as New Dropship</button>

</div>
</form>
</div>
<hr>
</p>
</ion-view>
</ion-content>