<ion-view>
<ion-content class="text-center has-header has-footer padding">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 nopadding">

<h3 ng-if="user_type==USER_TYPE.SUPPLIER" class="title"><small>Register as new</small><br><i class="fa fa-home"></i> Supplier</h3>
<h3 ng-if="user_type==USER_TYPE.STOCKIST" class="title"><small>Register as new</small><br><i class="fa fa-archive"></i> Stockist</h3>
<h3 ng-if="user_type==USER_TYPE.DROPSHIP" class="title"><small>Register as new</small><br><i class="fa fa-users"></i> Dropship</h3>

<br>
<div class="item text-left">

  <div class="text-center">
    <img src="{{authProfile.picture}}" class="img-circle profile-image" width="50px">
  </div>

  <br>

<form role="form">
<div class="form-group" ng-form='registrationForm'>

       
     <!-- first name -->
     <label class="item-input">
      <input type="text" class="form-control" placeholder="First Name *" ng-model="newUser.first_name" required>
    </label>

     <!-- last name -->
     <label class="item-input">
      <input type="text" class="form-control" placeholder="Last Name *" ng-model="newUser.last_name" required>
    </label>

     <!-- last name -->
     <label class="item-input">
      <input type="text" class="form-control" placeholder="Company Name" ng-model="newUser.company_name">
    </label>

    <!-- email -->
    <label class="item-input">
      <input type="text" class="form-control" placeholder="Email *" ng-model="newUser.email" >
    </label> 
      
    <!-- phone number -->      
    <label class="item-input">
      <input type="text" class="input-medium bfh-phone" placeholder="Phone Number *" ng-model="newUser.phone_number" required data-country="US">
    </label> 
   
    <!-- address-line1 input-->
    <label class="item-input">
      <input type="text" class="form-control" id="address-line1" name="address-line1" placeholder="Address Line 1 *" ng-model="newUser.address_line_1" required>
    </label>    

    <!-- address-line2 input-->
    <label class="item-input">
      <input type="text" class="form-control" id="address-line2" name="address-line2" placeholder="Address Line 2" ng-model="newUser.address_line_2">
    </label>    

    <!-- city input-->
    <label class="item-input">
      <input type="text" class="form-control" id="city" name="city" placeholder="City *" ng-model="newUser.city" required>
    </label>      

    <!-- postal-code input-->
    <label class="item-input">
      <input type="text" class="form-control" id="postal-code" name="postal-code" placeholder="Postal Code *" ng-model="newUser.postal_code" required>
    </label>        

     <!-- state -->
    <div class="list">
    <label class="item-input item-select">
      <div class="input-label" ng-show="newUser.state == null">State *</div>
      <div class="input-label" ng-show="newUser.state != ''">{{newUser.state}}</div>
      <select ng-model="newUser.state" required>
        <option selected>Johor</option>
        <option>Kedah</option>
        <option>Kelantan</option>
        <option>Kuala Lumpur</option>
        <option>Labuan</option>
        <option>Malacca</option>
        <option>Negeri Sembilan</option>
        <option>Pahang</option>
        <option>Penang</option>
        <option>Perak</option>
        <option>Perlis</option>
        <option>Putrajaya</option>
        <option>Sabah</option>
        <option>Sarawak</option>
        <option>Selangor</option>
        <option>Terengganu</option>
      </select>
    </label>
  </div>

    <!-- about -->
    <label class="item-input">
      <textarea ng-if="user_type==USER_TYPE.SUPPLIER || user_type==USER_TYPE.STOCKIST" class="form-control" 
      placeholder="Tell more about your business and if you are looking for agents/suppliers/stockists" 
      rows="4" ng-model="newUser.about"></textarea>
      
      <textarea ng-if="user_type==USER_TYPE.DROPSHIP" class="form-control" 
      placeholder="Tell more about your business and if you are looking for suppliers/stockists" 
      rows="4" ng-model="newUser.about"></textarea>  
    </label>

</div>

  <div class="item-body text-center">
      <label><input type="checkbox" value="" ng-model="terms"></label><small> I Agree To <a href="" ng-click="modalTerm.show()">Terms and Conditions</a></small>
  </div>

  <div class="text-center" ng-show="loading">
      Registering Your Account as {{user_type.getUserType()}}<br>
      {{loadMessage}}<br>
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
  </div>
  
  <button ng-disabled="!registrationForm.$valid || loading || !terms" type="submit" 
  class="button button-block button-orange" ng-click="createNewUser()">Register as New {{user_type.getUserType()}}</button>

  </form>

</div>

<hr>
</div>

</ion-view>
</ion-content>