<ion-view>
<ion-content class="text-center has-header has-footer padding">
<h2 class="title">Login</h2>
<div class="text-left">
  <form role="form">
  <div class="form-group" ng-form='loginform'>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" class="form-control" id="email" placeholder="john@gmail.com" ng-model="loginInfo.email" required>
    </label>
    
    <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" class="form-control" id="password" placeholder="Enter Your Password" ng-model="loginInfo.password" required>
    </label>
  

    <button ng-disabled="!loginform.$valid" type="submit" class="button button-block button-positive" ng-click="login()">Login</button>
  </div>
  </form>

{{user_email}}
{{password}}

</div>  

<hr>
  or
<h4 class="title">Login With</h4>
<div class="button-bar">
  <a class="button disable button-block button-positive" ng-click="loginFacebook()">Facebook</a>
  <a class="button disable button-block button-royal" ng-click="loginGoogle()">Google</a>
</div>

</ion-view>
</ion-content>