<ion-view>
<ion-content class="text-center has-header has-footer padding">
<h2 class="title">Login</h2>

<a class="button button-small button-positive icon-right ion-social-facebook" ng-click="loginFacebook()">Login With</a>
<a class="button button-small button-assertive icon-right ion-social-googleplus" ng-click="loginGoogle()">Login With</a>

<hr>

<div class="text-left">
  <form role="form">
  <div class="form-group" ng-form='loginform'>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" class="form-control" id="email" placeholder="john@gmail.com" ng-model="loginInfo.email" required>
    </label>
    
    <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" class="form-control" id="password" placeholder="Enter Your Password" ng-model="loginInfo.password" required>
    </label>
  

    <button ng-disabled="!loginform.$valid" type="submit" class="button button-block button-positive" ng-click="login()">Login</button>
  </div>
  </form>
</div>  

</ion-view>
</ion-content>