
<!--
<form role="form">
<div class="form-group">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="johndoe@gmail.com" ng-model="email">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password">
  </label>

  <button type="submit" class="button button-block button-positive" ng-click="login()">Login</button>

    <div ng-if="loginError != null">
    	{{loginError}}
    </div>

</div>
</form>
-->

<div></div>