<ion-view>
<ion-content class="text-center has-header has-footer padding">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 nopadding">

<h2 class="title">Signup</h2>

<a class="button button-small button-positive icon-right ion-social-facebook" ng-click="loginFacebook()">Signup With</a>
<a class="button button-small button-assertive icon-right ion-social-googleplus" ng-click="loginGoogle()">Signup With</a>

<hr>

<div class="text-left">
  <form role="form">
  <div class="form-group" ng-form='signupform'>
    <label class="item item-input">
        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="signupInfo.email" required>
    </label>
    
    <label class="item item-input">
        <input type="password" class="form-control" id="password" placeholder="Create A Password" ng-model="signupInfo.password" required>
    </label>

    <button ng-disabled="!signupform.$valid" type="submit" class="button button-block button-orange" ng-click="signup()">Sign Up</button>
  </div>
  </form>
</div>
</p>

</div>

</ion-view>
</ion-content>