<ion-view>
<ion-content class="text-center has-header has-footer padding">

<div class="text-center" ng-show="showItemLoad">
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
</div>

<div ng-show="!showItemLoad">

<h2 class="title">Transaction Details</h2>

<ion-item>

                <h2 ><strong>{{showItem.product_name}}</strong></h2>
                    
                    <h3 ng-if="userInSession.user_id == showItem.from_user_id">requested to 
                        <a ng-click="showUser({{showItem.to_user_id}})">{{showItem.other_user_name}}</a>
                    </h3 ng-if="userInSession.user_type=='supplier'">

                    <h3 ng-if="userInSession.user_id == showItem.to_user_id">requested from 
                        <a ng-click="showUser({{showItem.from_user_id}})">{{showItem.other_user_name}}</a>
                    </h3>
                    
                    <h4>
                        Last Updated : {{timeAgo}}
                    </h4>

                <br>
                

                  <!-- ******************************************************************************************************************************* -->
                  <!--- STATUS AND PAYMENT STATUS FOR AGENT ****************************************************************************************** -->
                    <!-- GENERAL STATUS -->
                    <button ng-if="showItem.status == TRANS_STATUS.REQUESTED" 
                    class="button button-small button-balanced icon-left ion-checkmark-round">Requested</button>

                    <button ng-if="showItem.status == TRANS_STATUS.APPROVED" 
                    class="button button-small button-balanced icon-left ion-checkmark-round">Approved</button>

                    <button ng-if="showItem.status == TRANS_STATUS.DELIVERED" 
                    class="button button-small button-balanced icon-left ion-paper-airplane">Delivered</button>

                    <button ng-if="showItem.status == TRANS_STATUS.DENIED" 
                    class="button button-small button-assertive icon-left ion-close-round">Denied</button>
                    
                    <button ng-if="showItem.status == TRANS_STATUS.RECEIVED" 
                    class="button button-small button-positive icon-left ion-archive">Package Received</button>

                    <button ng-if="showItem.payment_status == TRANS_STATUS.NOT_PAID && showItem.status > TRANS_STATUS.DENIED" 
                    class="button button-small button-assertive icon-left ion-cash">Not Paid</button>
                    
                    <button ng-if="showItem.payment_status == TRANS_STATUS.PAID" 
                    class="button button-small button-balanced icon-left ion-cash">Paid</button>

                    <button ng-if="showItem.payment_status == TRANS_STATUS.COMFIRMED" 
                    class="button button-small button-positive icon-left ion-cash">Payment Comfirmed</button>
                    
                    <div style="padding:3px"></div>
                    <!-- ******************************************************************************************************************************* -->
                    <!-- ACTION FOR AGENT **********************************************************************************************************-->
                  <div ng-if="userInSession.user_id == showItem.from_user_id">
                                        
                    <button ng-if="showItem.status == TRANS_STATUS.DELIVERED"
                    ng-click="updateTrans({{showItem.id}},'status',TRANS_STATUS.RECEIVED)" 
                    class="button button-small button-outline button-positive icon-left ion-archive">Comfirm Package</button>
                
                    <button ng-if="showItem.payment_status == TRANS_STATUS.NOT_PAID && showItem.status > TRANS_STATUS.DENIED " 
                    ng-click="updateTrans({{showItem.id}},'payment_status',TRANS_STATUS.PAID)" 
                    class="button button-small button-outline button-balanced icon-left ion-cash">Pay Now</button>          

                    <button ng-if="showItem.status == TRANS_STATUS.DENIED || showItem.status == TRANS_STATUS.REQUESTED" 
                    ng-click="confirmDeleteTrans({{showItem.id}})" 
                    class="button button-small button-outline button-assertive icon-left ion-close-round">Remove Request</button>           
        
                  </div>

                  <!-- ******************************************************************************************************************************* -->
                  <!--- ACTION FOR SUPPLIER *************************************************************************************** -->
                  <div ng-if="userInSession.user_id == showItem.to_user_id">
     
                    <button ng-if="showItem.status == TRANS_STATUS.REQUESTED" 
                    ng-click="updateTrans({{showItem.id}},'status',TRANS_STATUS.APPROVED)" 
                    class="button button-small button-outline button-balanced icon-left ion-checkmark-round">Approve</button>
                
                    <button ng-if="showItem.status == TRANS_STATUS.REQUESTED" 
                    ng-click="updateTrans({{showItem.id}},'status',TRANS_STATUS.DENIED)"
                    class="button button-small button-outline button-assertive icon-left ion-close-round">Deny</button>
        
                    <button ng-if="showItem.status == TRANS_STATUS.APPROVED"
                    ng-click="updateTrans({{showItem.id}},'status',TRANS_STATUS.DELIVERED)" 
                    class="button button-small button-outline button-balanced icon-left ion-paper-airplane">Deliver</button>
        
                    <button ng-if="showItem.payment_status == TRANS_STATUS.PAID" 
                    ng-click="updateTrans({{showItem.id}},'payment_status',TRANS_STATUS.COMFIRMED)" 
                    class="button button-small button-outline button-balanced icon-left ion-checkmark-round">Confirm Payment</button>
        
                  </div>

                <br>

                <!--- TRANSACTION INFO ************************************************************************************************************* -->
                    <h4><strong>Price Per Unit</strong> | RM {{showProduct.price_per_unit}}</h4>
                    <h4><strong>Quantity</strong> | {{showItem.quantity}}</h4>
                    <h4><strong>Type</strong> | {{showItem.type}}</h4>
                    <h4><strong>Total Price</strong> | RM {{showItem.total_price}} </h4>  

                    <h4><strong>Category</strong> | {{showProduct.category}}</h4>

                </div>
          </ion-item>

</div>
</ion-view>
</ion-content>