<p>
<h2 class="title">List of Agents</h2>
    
    <div class="text-left">
		<div class="list">
          <div ng-repeat="item in agents">
			    <a class="item item-avatar" ng-click="showObjectFunction('agents',{{item.id}})">
			    	<img src="{{item.picture}}">
			      	<h2>{{item.first_name}} {{item.last_name}}</h2>
			      	<p><strong>{{item.category}}</strong> | {{item.state}}</p>
			    </a>
          </div>
		</div>
	</div>

  <div class="text-center" ng-show="loading">
    <img id="mySpinner" src="/img/loader.gif"/>
  </div>
  
    <div ng-if="agents.length == 0">
    	No registered agent
    </div>
</p>