<ion-view>
<ion-content class="text-center has-header has-footer padding">

<div ng-if="user_type_request != USER_TYPE.SUPPLIER"> 
<h3 class="title">List of Suppliers</h3>
    
    <div class="text-left">
		<div class="list">
          <div ng-repeat="item in suppliers">
			    <a class="item item-avatar" ng-click="showUser({{item.id}})">
			    	<img src="{{item.picture}}">
			      	<h2>{{item.first_name}} {{item.last_name}}</h2>
			      	<p><strong>{{item.user_type.getUserType()}}</strong> | {{item.state}}</p>
			    </a>
          </div>
		</div>
	</div>

  <div class="text-center" ng-show="loadSupplier">
    <img id="mySpinner" src="/img/loader.gif"/>
  </div>
  
    <div ng-if="suppliers.length == 0">
      No registered supplier found
    </div>

    <hr>
</div>

<div ng-if="user_type_request != USER_TYPE.STOCKIST"> 
<h3 class="title">List of Stockists</h3>
    
    <div class="text-left">
    <div class="list">
          <div ng-repeat="item in stockists">
          <a class="item item-avatar" ng-click="showUser({{item.id}})">
            <img src="{{item.picture}}">
              <h2>{{item.first_name}} {{item.last_name}}</h2>
              <p><strong>{{item.user_type.getUserType()}}</strong> | {{item.state}}</p>
          </a>
          </div>
    </div>
  </div>

  <div class="text-center" ng-show="loadStockist">
    <img id="mySpinner" src="/img/loader.gif"/>
  </div>
  
    <div ng-if="stockists.length == 0">
      No registered stockist found
    </div>

    <hr>
</div>
<div ng-if="user_type_request != USER_TYPE.DROPSHIP"> 
<h3 class="title">List of Dropships</h3>
    
    <div class="text-left">
    <div class="list">
          <div ng-repeat="item in dropships">
          <a class="item item-avatar" ng-click="showUser({{item.id}})">
            <img src="{{item.picture}}">
              <h2>{{item.first_name}} {{item.last_name}}</h2>
              <p><strong>{{item.user_type.getUserType()}}</strong> | {{item.state}}</p>
          </a>
          </div>
    </div>
  </div>

  <div class="text-center" ng-show="loadDropship">
    <img id="mySpinner" src="/img/loader.gif"/>
  </div>
  
    <div ng-if="dropships.length == 0">
      No registered dropship found
    </div>

     <hr>
</div>
</ion-view>
</ion-content>