<ion-view> 
<ion-content class="text-center has-header has-footer padding">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 nopadding">

<p>
    <a class="link" href="" ng-click="refresh()">
      <h2>My Linked User</h2>
    </a>
      
      <div class="card list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>

        <input type="text" class="form-control" placeholder="Search My Linked User" ng-model="search.key" ng-change="submit()" required>

      </label>

        <div class="text-left">
        <div class="list">
          <div ng-repeat="item in searchProduct">
            <div>
              <a class="item item-avatar" ng-click="showUser({{item.id}})">
              <img src="{{item.picture}}">
                  <h2>{{item.first_name}} {{item.last_name}}</h2>
                  <p>{{item.state}}</p>
                  <span class="badge">
                    {{item.user_type.getUserType()}}
                  </span>
              </a>
            </div>
          </div>
        </div>
      </div>

        <div ng-if="searchProduct.length == 0 && isSubmit && search.key.length>2 && !searchLoad">
          No result found for <strong>'{{search.key}}'</strong>
        </div>

      <div class="text-center" ng-show="searchLoad">
        <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
      </div>
          
    </div>

      
      <div class="text-left">
      <div class="list">


      <div class = "item text-right">

            <span ng-disabled="true" class="button button-small button-dark">Page {{pageNumber}}</span>

            <button ng-if="pageNumber > 1" class="button button-small button-assertive icon-left ion-arrow-left-a" 
              ng-click="getMore('previous')">Previous</button>

            <button ng-if="myLinkedUser.length == OFFSET.PAGE" class="button button-small button-positive icon-right ion-arrow-right-a" 
              ng-click="getMore('next')">Next</button>

      </div>

       <div class="item text-center" ng-show="myLinkedUserLoad">
          <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
        </div>

        <div ng-repeat="item in myLinkedUser">
          <div>
            <a class="item item-avatar" ng-click="showUser({{item.id}})">
            <img src="{{item.picture}}">
                <h2>{{item.first_name}} {{item.last_name}}</h2>
                <p>{{item.state}}</p>
                <span class="badge">
                  {{item.user_type.getUserType()}}
                </span>
            </a>
          </div>
        </div>

        <div  class="item item-body text-center" ng-if="myLinkedUser.length == 0">
          <span ng-if="pageNumber == 1">
            It seems that you don't have any linked user yet

            <br><br>
            <button class="button button-positive icon-left ion-person-stalker" 
              ng-click="findUser(0)">Find User</button>
          </span>
          
          <span ng-if="pageNumber > 1">
            No more linked user available
            <br><br>
            <button class="button button-positive icon-left ion-person-stalker" 
              ng-click="findUser(0)">Find More User</button>

          </span>

          <!-- ACTION BUTTON -->



        </div>
      
      <div class = "item text-right">

            <span ng-disabled="true" class="button button-small button-dark">Page {{pageNumber}}</span>

            <button ng-if="pageNumber > 1" class="button button-small button-assertive icon-left ion-arrow-left-a" 
              ng-click="getMore('previous')">Previous</button>

            <button ng-if="myLinkedUser.length == OFFSET.PAGE" class="button button-small button-positive icon-right ion-arrow-right-a" 
              ng-click="getMore('next')">Next</button>

      </div>
      
      </div>
    </div>

</p>
</div>
</ion-view>
</ion-content>