<ion-view>
<ion-content class="text-center has-header has-footer padding">
<p>
    <h2 class="title">My Linked User</h2>
    <button class="button button-small button-clear button-positive" ng-click="refresh()">Refresh List</button>
      
      <div class="text-center" ng-show="myLinkedUserLoad">
        <img id="mySpinner" src="/img/loader.gif"/>
      </div>
      
      <div class="text-left">
      <div class="list">
            <div ng-repeat="item in myLinkedUser">
              <div>
            <a class="item item-avatar" ng-click="showUser({{item.id}})">
            <img src="{{item.picture}}">
                <h2>{{item.first_name}} {{item.last_name}}</h2>
                <p>{{item.state}}</p>
                <span class="badge">
                  {{item.user_type.getUserType()}}
                </span>
            </a>
        </div>
            </div>
      </div>
    </div>

      <div ng-if="myLinkedUser.length == 0">
        No linked user
      </div>
</p>
</ion-view>
</ion-content>