<ion-view>
<ion-content class="text-center has-header has-footer padding">
<p>
  <a class="link" href="" ng-click="refresh()">
    <h2 class="title">My Pending Link Request</h2>
  </a> 
  <br> 
    <h4 class="title">To Me</h4>

      <div class="text-center" ng-show="requestedToUserLoad">
        <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
      </div>

      <div class="text-left">
      <div class="list">
            <div ng-repeat="item in requestedToUser">
            <a class="item item-avatar" ng-click="showUser({{item.id}})">
            <img src="{{item.picture}}">
                <h2>{{item.first_name}} {{item.last_name}}</h2>
                <p>{{item.state}}</p>
                <span class="badge">
                  {{item.user_type.getUserType()}}
                </span>
            </a>
            </div>
      </div>
    </div>

      <div class="info-text" ng-if="requestedToUser.length == 0">
        None
      </div>

          <!--
    -------------------------------------------------------------------------------------------------------------------------------------------------------------
    requestedFromUser List
    requestedFromUser List
    -->
    <hr>
    <h4 class="title">From Me</h4>

      <div class="text-center" ng-show="requestedFromUserLoad">
        <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
      </div>

      <div class="text-left">
      <div class="list">
            <div ng-repeat="item in requestedFromUser">
             <a class="item item-avatar" ng-click="showUser({{item.id}})">
            <img src="{{item.picture}}">
                <h2>{{item.first_name}} {{item.last_name}}</h2>
                <p>{{item.state}}</p>
                <span class="badge">
                  {{item.user_type.getUserType()}}
                </span>
            </a>
            </div>
      </div>
    </div>

      <div class="info-text" ng-if="requestedFromUser.length == 0">
        None
      </div>




</p>
</ion-view>
</ion-content>