<ion-view>
<ion-content class="text-center has-header has-footer padding">
<p>
<h2 class="title">My Profile</h2>

<div class="list card text-left">


      <div class="item text-center">
          <button class="button button-small button-balanced icon-left ion-edit">Edit Profile</button>
      </div>



<!-------------------------------------------------------- -->
<!-------------------------------------------------------- -->


  <div class="item item-avatar">
    <img src="{{myProfile.picture}}">
    <h2>{{myProfile.first_name}} {{myProfile.last_name}}</h2>
	<p><strong>{{myProfile.user_type.getUserType()}}</strong>  | User Id {{myProfile.id}}</p>
  </div>

  <div class="item item-body">
    <h3><strong>Location</strong> | {{myProfile.state}}</h3>
    <h3><strong>Email</strong> | {{myProfile.email}}</h3>
    <h3><strong>Phone Number</strong> | {{myProfile.phone_number}}</h3>
    <h3><strong>Member Since</strong> | {{myProfile.created_at.getDate()}}</h3>
    
    <hr>
    <h3><strong>More Information</strong></h3>
    <p ng-if="myProfile.about == ''">
		There is no other information about this agent
    </p>    
    <p ng-if="myProfile.about != ''">
		{{myProfile.about}}
    </p>

  </div>

</div>

</p>
</ion-view>
</ion-content>