<p>
<h2 class="title">Agent Details</h2>

<div class="list card text-left">

  <div class="item item-avatar">
    <img src="{{showObject.picture}}">
    <h2>{{showObject.first_name}} {{showObject.last_name}}</h2>
	<p><strong>Agent Id</strong> | {{showObject.id}}</p>
  </div>

  <div class="item item-body">
    <h3><strong>Agent Category</strong> | {{showObject.category}}</h3>
    <h3><strong>Location</strong> | {{showObject.state}}</h3>
    <h3><strong>Email</strong> | {{showObject.email}}</h3>
    <h3><strong>Phone Number</strong> | {{showObject.phone_number}}</h3>
    <h3><strong>Member Since</strong> | {{showObject.created_at}}</h3>
    
    <hr>
    <h3><strong>More Information</strong></h3>
    <p ng-if="showObject.about == ''">
		There is no other information about this agent
    </p>    
    <p ng-if="showObject.about != ''">
		{{showObject.about}}
    </p>


    <!-- Not Valid To Add Request -->
    <div ng-if ="userLinkType == USER_LINK_TYPE.NOT_AUTH">
    <button class="button button-block button-positive">Not Authorized</button>
    </div>    

    <!-- Same User Type -->
    <div ng-if ="userLinkType == USER_LINK_TYPE.SAME_TYPE">
    <button class="button button-block button-positive" ng-click="linkUser({{showObject.id}})">Same User Type</button>
    </div>

    <!-- No Record in userLink -->
    <div ng-if ="userLinkType == USER_LINK_TYPE.NOT_REQUESTED">
    <button class="button button-block button-positive" ng-click="linkUser('sendRequest')">Add To Agent List</button>
    </div>

    <!-- Requested-by-agent -->
    <div ng-if ="userLinkType == USER_LINK_TYPE.REQUESTED_BY_A">
    <div class="button-bar">
      <a class="button disable button-block button-balanced" ng-click="linkUser('confirmRequest')">Comfirm Request</a>
      <a class="button disable button-block button-assertive" ng-click="linkUser('ignoreRequest')">Ignore Request</a>
    </div>
    </div>

    <!-- Requested-by-supplier -->
    <div ng-if ="userLinkType == USER_LINK_TYPE.REQUESTED_BY_S">
    <div class="button-bar">
      <a ng-disabled="true" class="button disable button-block button-balanced">Requested</a>
      <a class="button disable button-block button-assertive" ng-click="linkUser('cancelRequest')">Cancel Request</a>
    </div>
    </div>

    <!-- linked -->
    <div ng-if ="userLinkType == USER_LINK_TYPE.LINKED">
    <div class="button-bar">
      <a ng-disabled="true" class="button disable button-block button-calm">In Your List</a>
      <a class="button disable button-block button-assertive" ng-click="linkUser('removeFromList')">Remove From List</a>
    </div>
    </div>




  </div>

</div>

</p>