<ion-view>
<ion-content class="text-center has-header has-footer padding">
<p>
<h2 class="title">Supplier Details</h2>

<div class="list card text-left">

<!--
*********************************************************************************************************************************
********************************* SUB HEADER ************************************************************************************
*********************************************************************************************************************************
- -->

<div class="bar" ng-show="!loading">  
  <div >
    <!-- Not Valid To Add Request -->
      <div class="tabs tabs-icon-top" ng-if ="userLinkType == USER_LINK_TYPE.NOT_AUTH">
        <div class="tab-item">
          <i class="icon ion-android-close"></i>
            Not Authorized
        </div>
      </div>

    <!-- Same User Type -->
      <div class="tabs tabs-icon-top" ng-if ="userLinkType == USER_LINK_TYPE.SAME_TYPE">
        <div class="tab-item">
          <i class="icon ion-navicon"></i>
            Same User Type
        </div>
      </div>

    <!-- No Record in userLink -->
      <div class="tabs tabs-icon-top" ng-if ="userLinkType == USER_LINK_TYPE.NOT_REQUESTED">
        <a class="tab-item">
          <i class="icon ion-android-person-add" ng-click="linkUser('sendRequest')"></i>
            Add Supplier
        </a>
      </div>


    <!-- Requested-by-supplier -->
      <div class="tabs tabs-icon-top" ng-if ="userLinkType == USER_LINK_TYPE.REQUESTED_BY_S">
        <a class="tab-item">
          <i class="icon ion-android-done" ng-click="linkUser('confirmRequest')"></i>
            Comfirm Request
        </a>        
        <a class="tab-item">
          <i class="icon ion-android-close" ng-click="linkUser('ignoreRequest')"></i>
            Ignore Request
        </a>
      </div>

    <!-- Requested-by-agent -->
      <div class="tabs tabs-icon-top" ng-if ="userLinkType == USER_LINK_TYPE.REQUESTED_BY_A">
        <div class="disable tab-item">
          <i class="icon ion-android-done"></i>
            Requested
        </div>        
        <a class="tab-item">
          <i class="icon ion-android-close" ng-click="linkUser('cancelRequest')"></i>
            Cancel Request
        </a>
      </div>


    <!-- linked -->
      <div class="tabs tabs-icon-top" ng-if ="userLinkType == USER_LINK_TYPE.LINKED">
        <div class="disable tab-item">
          <i class="icon ion-android-done"></i>
            In Your List
        </div>        
        <a class="tab-item">
          <i class="icon ion-android-close" ng-click="linkUser('removeFromList')"></i>
            Remove From List
        </a>        
        
        <a ng-show="show =='products'" class="tab-item">
          <i class="icon ion-bag" ng-click="showFunction('info')"></i>
            Show Info
        </a>

        <a ng-show="show =='info'" class="tab-item">
          <i class="icon ion-bag" ng-click="showFunction('products')"></i>
            Show Product
        </a>
      </div>
  </div>
</div>

<div class="text-center" ng-show="loading" >
  <img  id="mySpinner" src="/img/loader.gif"/>Loading Request
</div>
<hr> 

<!--
*********************************************************************************************************************************
********************************* CONTENT ***************************************************************************************
*********************************************************************************************************************************
- -->


  <div class="item item-avatar">
    <img src="{{showObject.picture}}">
    <h2>{{showObject.first_name}} {{showObject.last_name}}</h2>
	  <p><strong>Supplier Id</strong> | {{showObject.id}}</p>
  </div>

  <!-- SHOW INFO -->
  <!-- SHOW INFO -->
  <div ng-if="show =='info'" class="item item-body">
    <h3><strong>Location</strong> | {{showObject.state}}</h3>
    <h3><strong>Email</strong> | {{showObject.email}}</h3>
    <h3><strong>Phone Number</strong> | {{showObject.phone_number}}</h3>
    <h3><strong>Member Since</strong> | {{showObject.created_at}}</h3>
    
    <hr>
    <h3><strong>More Information</strong></h3>
    <p ng-if="showObject.about == ''">
    There is no other information about this supplier
    </p>    
    <p ng-if="showObject.about != ''">
    {{showObject.about}}
    </p>
  </div>  

  <!-- SHOW PRODUCTS -->
  <!-- SHOW PRODUCTS -->
  <div ng-if="show =='products'" class="item item-body">
    <div ng-show="loadingProducts" class="text-center">
      <img  id="mySpinner" src="/img/loader.gif"/>
      <br>
      Loading Products
    </div>
    
    <div ng-show="!loadingProducts">
      <h2 class="text-center">Products</h2>
      <div class="text-left">
      <div class="list">
            <div ng-repeat="item in myProductsObject">
            <a ng-controller="ProductController" class="item item-avatar" ng-click="showProduct({{item.id}})">
              <img src="{{item.picture}}">
                <h2>{{item.first_name}}</h2>
                <p><strong>{{item.category}}</strong> | RM {{item.price_per_unit}} / unit</p>
            </a>
            </div>
      </div>
      </div>
    </div>
  </div>


</div>
</div>
</p>
</ion-view>
</ion-content>