<ion-view>
<ion-content class="text-center has-header has-footer padding">
<p>
<h2 class="title">{{showObject.user_type.getUserType()}} Details</h2>
<button ng-if="showObject.user_type < USER_TYPE.DROPSHIP" class="button button-small button-clear button-positive" ng-click="showProductList(showObject.id)">Show Product List For This User</button>

<div class="list card text-left">

  <div class="item text-center" ng-show="!loading">

    <button ng-if ="userLinkType == USER_LINK_TYPE.NOT_AUTH" 
    class="button button-small button-balanced icon-left ion-android-close">Not Authorized</button>

    <div ng-if ="userLinkType == USER_LINK_TYPE.LINKED">
        <button class="button button-small button-balanced icon-left ion-android-done">In Your List</button>
        <button class="button button-small button-assertive button-outline icon-left ion-android-close" ng-click="linkUser('removeFromList')">Remove From List</button>
    </div>
    
    <button ng-if ="userLinkType == USER_LINK_TYPE.SAME_TYPE" class="button button-small button-balanced icon-left ion-navicon">Same User Type</button>

    <button ng-if ="userLinkType == USER_LINK_TYPE.NOT_REQUESTED" class="button button-small button-positive button-outline icon-left ion-android-person-add" 
    ng-click="linkUser('sendRequest')">Add {{showObject.user_type.getUserType()}}</button>    

    <div ng-if ="isRequestToUser">
        <button class="button button-small button-balanced button-outline icon-left ion-android-done" ng-click="linkUser('confirmRequest')">Comfirm Request</button>
        <button class="button button-small button-assertive button-outline icon-left ion-android-close" ng-click="linkUser('ignoreRequest')">Ignore Request</button>
    </div>    

    <div ng-if ="isRequestByUser">
        <button class="button button-small button-balanced icon-left ion-android-done" ng-click="linkUser('confirmRequest')">Requested</button>
        <button class="button button-small button-assertive button-outline icon-left ion-android-close" ng-click="linkUser('cancelRequest')">Cancel Request</button>
    </div>


    <!-- linked -->


    <div class="text-center" ng-show="loading" >
      <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
    </div>
  </div>
<!-------------------------------------------------------- -->
<!-------------------------------------------------------- -->


  <div class="item item-avatar">
    <img src="{{showObject.picture}}">
    <h2>{{showObject.first_name}} {{showObject.last_name}}</h2>
	<p><strong>{{showObject.user_type.getUserType()}}</strong>  | User Id {{showObject.id}}</p>
  </div>

  <div class="item item-body">
    <h3><strong>Location</strong> | {{showObject.state}}</h3>
    <h3><strong>Email</strong> | {{showObject.email}}</h3>
    <h3><strong>Phone Number</strong> | {{showObject.phone_number}}</h3>
    <h3><strong>Member Since</strong> | {{showObject.created_at}}</h3>
    
    <hr>
    <h3><strong>More Information</strong></h3>
    <p ng-if="showObject.about == ''">
		There is no other information about this agent
    </p>    
    <p ng-if="showObject.about != ''">
		{{showObject.about}}
    </p>

  </div>

</div>

</p>
</ion-view>
</ion-content>