<!--App Controller-->
<ion-view>
<ion-content class="text-center has-header has-footer padding">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 nopadding">


<p>

		<a class="link" href="" ng-click="refreshNotification()">
		<h2>My Notifications</h2>
		</a>

	    <div class="text-left">
			<div class="list">


	         	<div class = "item text-right">

	          	    <span ng-disabled="true" class="button button-small button-dark">Page {{pageNumber}}</span>

	          	    <button ng-if="pageNumber > 1" class="button button-small button-assertive icon-left ion-arrow-left-a" 
	          	    	ng-click="getMoreNotification('previous')">Previous</button>

	          	    <button ng-if="myNotification.length == 10" class="button button-small button-positive icon-right ion-arrow-right-a" 
	          	    	ng-click="getMoreNotification('next')">Next</button>

				</div>

			  <div class="item item-body text-center" ng-show="myNotificationLoad">
					<img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
			  </div>
		    

	          <div ng-repeat="item in myNotification">
				    <a class="item item-body" ng-click="isRead(item)" href="#{{item.link}}">
		   				
							<i ng-if="item.category == NOTI_CATEGORY.GENERAL" class="icon ion-android-notifications"></i>	
		   			  		<i ng-if="item.category == NOTI_CATEGORY.PROFILE" class="icon ion-person"></i>	
		   			  		<i ng-if="item.category == NOTI_CATEGORY.LINK" class="icon ion-person-stalker"></i>	
		   			  		<i ng-if="item.category == NOTI_CATEGORY.PRODUCT" class="icon ion-bag"></i>	
		   			  		<i ng-if="item.category == NOTI_CATEGORY.TRANSACTION" class="icon ion-arrow-swap"></i>	
		   			  		<i ng-if="item.category == NOTI_CATEGORY.PAYMENT" class="icon ion-cash"></i>
		   			  		<i ng-if="item.category == NOTI_CATEGORY.REVIEW" class="icon ion-chatbubble-working"></i>	
	
							{{item.text}}
						<br>
						
							
							<span ng-if="!item.isRead" class="label label-primary">New</span>

							<span class="small text-muted" style="font-size:10px;">{{item.created_at.getTime()}} - {{item.created_at.getDate()}}</span>
						

				    </a>
	          </div>

			   <div  class="item text-center" ng-if="myNotification.length == 0">
			   	<span ng-if="pageNumber == 1">
			    	No notification available
			    </span>
			    
			    <span ng-if="pageNumber > 1">
			    	No more notification available
			    </span>
			  	</div>

	         	<div class = "item text-right">

	          	    <span ng-disabled="true" class="button button-small button-dark">Page {{pageNumber}}</span>

	          	    <button ng-if="pageNumber > 1" class="button button-small button-assertive icon-left ion-arrow-left-a" 
	          	    	ng-click="getMoreNotification('previous')">Previous</button>

	          	    <button ng-if="myNotification.length == 10" class="button button-small button-positive icon-right ion-arrow-right-a" 
	          	    	ng-click="getMoreNotification('next')">Next</button>

				</div>
			</div>
		</div>

	  


</p>
<hr>
		</div>


</ion-view>
</ion-content>