
<p>
    <div ng-if="!auth.isAuthenticated">

		<h2 class="title">Welcome to Melaka</h2>
		<h3>Lets get started</h3>

		<div ng-app="sample" ng-controller="AppController">
			<button class="button button-block button-positive" ng-click="login()">Login</button>
		</div>

    </div>

    <!--FOR NEW USER-->
    <div ng-if="auth.isAuthenticated && userInSession.user_type == 'new'">
		<h3 class="title">Hello {{authProfile.nickname}}</h3>
		<h4>Lets get started</h4>
		
		<div ng-app="sample" ng-controller="SignupController">
			<button class="button button-block button-positive" ng-click="signupAsAgent()">Register as Agent</button>
			<button class="button button-block button-positive" ng-click="signupAsSupplier()">Register as Supplier</button>
		</div>
    </div>

    <!--FOR REGISTERED USER-->
    <div ng-if="auth.isAuthenticated && (userInSession.user_type == 'agent' || userInSession.user_type == 'supplier')">
		<h3 class="title">Welcome Back {{authProfile.nickname}}</h3>
    </div>

    <div ng-if="auth.isAuthenticated">
    <div class="text-left">

		  <div class="item item-avatar">
		    <img src="{{authProfile.picture}} ">
		    <h2>{{authProfile.nickname}}</h2>
			
			<div ng-if="userInSession != null">
				<p ng-if="userInSession.user_type=='agent'"><strong>Agent Id</strong> {{userInSession.agent_id}}</p>
		    	<p ng-if="userInSession.user_type=='supplier'"><strong>Supplier Id</strong> {{userInSession.supplier_id}}</p>
							
			</div>
			

		    
		    <p ng-if="userInSession == null">New User</p>

		  </div>    
		</div>    
	</div>    


</p>

