<!--App Controller-->
<ion-view>
<ion-content class="text-center has-header has-footer padding">
<p>
    <div ng-if="authProfile == null">
		<h2 class="title"><small>Welcome To</small><br>InnovaSeeds</h2>
		<hr>
		<h5>Lets get started !</h5>

		<div ng-app="sample" ng-controller="AppController">
			<button class="button button-block button-positive" ng-click="login()">Login</button>
			<button class="button button-block button-positive" ng-click="signup()">Signup</button>
		</div>

    </div>

    <!--
    -----------------------------------------------------------------------------------------------------------------------------------------------------------------
	FOR NEW USER
	FOR NEW USER
	-->
    <div ng-if="authProfile != null && userInSession == null">
		<h3 class="title">Hello {{authProfile.nickname}}</h3>
		<h4>Lets get started</h4>

		<div class="text-left">
		  <div class="item item-avatar">
		    <img src="{{authProfile.picture}} ">
		    <h2>{{authProfile.nickname}}</h2>
		
			<div ng-if="userInSession == null">
				<p>New User</p>
			</div>
			
		  </div>    
		</div>   
		
		<div ng-app="sample" ng-controller="RegisterController">
			<button class="button button-block button-{{USER_TYPE.ION_COLOR.SUPPLIER}}" ng-click="register(USER_TYPE.SUPPLIER)">Register as Supplier</button>
			<button class="button button-block button-{{USER_TYPE.ION_COLOR.STOCKIST}}" ng-click="register(USER_TYPE.STOCKIST)">Register as Stockist</button>
			<button class="button button-block button-{{USER_TYPE.ION_COLOR.DROPSHIP}}" ng-click="register(USER_TYPE.DROPSHIP)">Register as Dropship</button>
		</div>
    </div>


    <!--
 	-----------------------------------------------------------------------------------------------------------------------------------------------------------------
	FOR REGISTERED USER
	FOR REGISTERED USER
	-->
    <div ng-if="authProfile != null && userInSession != null">
		<h3 class="title">Welcome Back {{authProfile.nickname}}</h3>

		<!--
		-------------------------------------------------------------------------------------------------------------------------------------------------------------
		Profile Card
		Profile Card
		-->
		<div class="text-left">
			
			<a class="item item-avatar" ng-click="myProfile()">
				
			    <img src="{{authProfile.picture}} ">
	
			    <h2><strong>{{authProfile.nickname}}</strong></h2>
				
					<p ng-if="userInSession != null">{{userInSession.user_type.getUserType()}}</p>
					<p ng-if="userInSession == null">New User</p>		    
				</a>   
		</div>   
		
		<!--
		-------------------------------------------------------------------------------------------------------------------------------------------------------------
		NOTIFICATION
		NOTIFICATION
		-->
		<hr>
		<h4 class="title">What's New?</h4>
		  
		  <div class="text-center" ng-show="myNotificationLoad">
		    <img id="mySpinner" src="/img/loader.gif"/>
		  </div>
	    
	    <div class="text-left">
			<div class="list">
	          <div ng-repeat="item in myNotification">
	          	<div ng-controller = "NotificationController">
				    <a class="item item-avatar" ng-if = "userInSession.user_type == 'supplier'" ng-click="showObjectFunction('agents',{{item.id}})">
				   	<img src="{{item.picture}}">
				      	<h2>{{item.first_name}} {{item.last_name}}</h2>
				      	<p><strong>Agent Id</strong> {{item.id}}</p>
				    </a>
				    <a class="item item-avatar" ng-if = "userInSession.user_type == 'agent'" ng-click="showObjectFunction('suppliers',{{item.id}})">
				    	<img src="{{item.picture}}">
				      	<h2>{{item.first_name}} {{item.last_name}}</h2>
				      	<p><strong>Supplier Id</strong> {{item.id}}</p>
				    </a>
				</div>
	          </div>
			</div>
		</div>

	    <div ng-if="myNotification.length == 0">
	    	You Have No Notification
	    </div>


    </div>
</p>


</ion-view>
</ion-content>