<ion-view>
<ion-content class="text-center has-header has-footer padding">

<h2 class="title"><small>Follow Us On</small></h2>
<a class="button button-small button-positive icon-left ion-social-facebook" 
ng-click="goTo('facebook')">{{APP_CONSTANT.NAME}}</a>

<a class="button button-small button-dark icon-left ion-social-instagram-outline" 
ng-click="goTo('instagram')">{{APP_CONSTANT.NAME}}</a>

<hr>
<h2 class="title"><small>Send Us Message</small></h2>
<div class="text-left">
  <form role="form">
  <div class="form-group" ng-form='contactform'>
    <label class="item item-input">
        <input type="email" class="form-control" id="email" placeholder="Your Email (optional)" ng-model="contact.email">
    </label>
    <br>
    <label class="item item-input">
        <textarea class="form-control" placeholder="Your message goes here" rows="4" ng-model="contact.message" required></textarea>
    </label>

    <button ng-disabled="!contactform.$valid" type="submit" class="button button-block button-assertive" ng-click="submit()">Submit</button>

  </div>
  </form>
</div>
</p>

</ion-view>
</ion-content>