<ion-view>
<ion-content class="text-center has-header has-footer padding">
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 nopadding">

<p>
<h2 ng-if = "state=='addProduct'" class="title">Adding New Product</h2>
<h2 ng-if = "state=='editProduct'" class="title">Edit Product</h2>
<hr>
<!--
  <img src="{{unavailable}}" class="img-responsive img-thumbnail center-block" width="100">
<button ng-disabled="imageSrc == null" class="button button-block button-positive" ng-click="uploadFileDropbox()">Test Upload Dropbox</button>
-->
<div class="text-left">

<form role="form" accept="image/gif, image/jpeg">
<div class="form-group" ng-form='productform'>

<!-- 
    <div class="text-center" ng-show="progress == null">
        Adding Picture<br>
      <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
    </div>
 -->
   <div ng-repeat="item in imageFiles" class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div ng-if="item.imageSrc != null" class = "item item-body">
        <div class="thumbnail"> 
          <div class="text-center" id="image-thumbnail">
            <a href="" ng-click="openModal(item.name,item.picture)"><img class="img-responsive" src="{{item.imageSrc}}"></img></a>
          </div>
        </div>

        <div class ="text-center caption">
          <button class="button button-small button-assertive icon-left ion-close" ng-click="removePicture(item.pos)">Remove Picture</button>
        </div>      
      </div>
      <br>
   </div>

  <div class="row"></div>

<!-- 
    <div class="item" ng-repeat="item in imageFiles">
      <button ng-if="item != null" class="button button-clear button-positive" ng-click="removePicture(item.pos)">Remove Picture</button>
      <img ng-if="item.imageSrc != null" src="{{item.imageSrc}}" class="img-responsive img-thumbnail center-block" width="150">
    </div> -->

<!--        
    <div ng-if="imageFiles.length > 0"class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
      aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">
        {{progress}}%
      </div>
    </div>
 -->

  <div ng-if="imageFiles.length < 5" ng-hide="loadImage" class="item">
    <strong>Upload Picture(s) Of' Your Product</strong>
      <h4>
        <strong>Size Limit</strong> : {{imageSizeLimit}} MB<br>
        <strong>Picture Limit</strong> : 5
      </h4>
    <div>
      <input type="file" id="file" name="file" onchange="angular.element(this).scope().addPicture()"/>       
    </div>
  </div>  
  
  <label class="item item-input">
    <span class="input-label small">Product Name</span>
    <input type="text" class="form-control" id="name" placeholder="Polo Shirt" ng-model="newProduct.name" required>
  </label>

  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label small">Category</div>
      <select ng-model="newProduct.category" required>
        <option selected>Beauty</option>
        <option>Cloth</option>
        <option>Electronic</option>
        <option>Perfume</option>
        <option>Beauty</option>
        <option>Kitchenware</option>
        <option>Scarf</option>
        <option>Shoe</option>
        <option>Watch</option>
        <option>Other</option>
      </select>
    </label>

   <label class="item item-input">
        <span class="input-label small">Quantity</span>
      <input type="number" placeholder="100" value="1000" min="0" step="10" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="newProduct.quantity" required>
    </label>  

    <label ng-if="!hasCustomPricing" class="item item-input">
      <span class="input-label small">Price Per Unit (RM)</span>
      <input type="number" placeholder="21" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="newProduct.price_per_unit" required>
    </label>  

    <label class="item item-input">
      <span class="input-label small">Description</span>
      <textarea class="form-control" placeholder="Tell more about the new product (optional)" rows="4" ng-model="newProduct.description"></textarea>
    </label>
 
 </div>
<!-- *************************************************************************************************************************** -->
<!-- ***************************** CUSTOM PRICING ****************************************************************************** -->
   
   <li class="item item-toggle">
     Custom Pricing ?
     <label class="toggle toggle-balanced">
       <input type="checkbox" ng-disabled="loading" ng-model="hasCustomPricing" ng-change="toogleHasCustomPricing()" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

<!-- ***************************** start hasCustomPricing ****************************************************************************** -->
<div ng-if="hasCustomPricing">  
    
    <li ng-if="customPricingList.length > 0" class="item"> 

      <table class="table table-condensed">
        <thead>
          <tr>
            <th><strong>Quantity</strong></th>
            <th><strong>Price Per Unit</strong></th>   
            <th><strong>Action</strong></th>
          </tr>
          </thead>
        <tbody>
          <tr ng-repeat="custom in customPricingList">
            <td>{{custom.from}} - {{custom.to}}</td>
            <td>RM {{custom.price}}</td>
            <td>       

              <!-- edit for not the last -->
              <a ng-if="(customPricingList.length-1) != custom.index" 
              class="button button-small button-balanced ion-edit" 
              ng-click="customPricingOperation('edit',custom.index)"></a>
              
              <!-- remove for the last only -->
              <a ng-if="(customPricingList.length-1) == custom.index" 
              class="button button-small button-assertive ion-close-round" 
              ng-click="removeLastCustomPrice()"></a>

            </td>
          </tr>   
        </tbody>
     </table>
    </li>

    <div ng-if="customPricingDone">
      <li ng-if="doneErrorMessageList.length > 0" class="item">
        <strong class ="text-assertive">Opps.. There is something wrong!</strong>
        <ul>
          <li ng-repeat="message in doneErrorMessageList" >
              <span class ="text-assertive">{{message}}</span>
          </li>
        </ul>
      </li>

      <li ng-if="doneErrorMessageList.length == 0" class="item">
        <strong class ="text-balanced">The custom pricing looks good!</strong>
      </li>



    </div>

    <li class="item" ng-if="!showCustomPricingForm && !showCustomPricingFormEdit && !showCustomPricingFormLast && !customPricingDone" >
      <button ng-if="customPricingList.length == 0" class="button button-block button-orange" ng-click="customPricingOperation('add',0)">Add New Pricing</button>
      
      <div class="button-bar" ng-if="customPricingList.length != 0">
        <a class="button button-small button-balanced" ng-click="customPricingOperation('add',0)">
        Add New Pricing</a> 
        <a class="button button-small button-positive" ng-click="customPricingOperation('addLast',0)">Add Last Pricing</a>
      </div>
    </li>

  <!-- ***************************** showCustomPricingForm ****************************************************************************** -->
    <div ng-if="showCustomPricingForm" >
      <form role="form" accept="image/gif, image/jpeg">
      <div class="form-group" ng-form='customPricingForm'>

        <label class="item item-input">
          <span class="input-label small">From</span>
          <input ng-disabled="true" type="number" placeholder="0" value="1000" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="newCustomPricing.from" required>
        </label>  
        
        <label class="item item-input">
          <span class="input-label small">To</span>
          <input type="number" placeholder="100" value="1000" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="newCustomPricing.to" required>
        </label>

        <label class="item item-input">
          <span class="input-label small">Price (RM)</span>
          <input type="number" placeholder="50.00" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="newCustomPricing.price" required>
        </label>    
      
      <li class="item">
        <div class="button-bar">
          <a ng-disabled="!customPricingForm.$valid" class="button button-small button-balanced" ng-click="addCustomPricing()">Add Pricing</a> 
          <a class="button button-small button-assertive" ng-click="customPricingOperation('cancel',0)">Cancel</a>
        </div>
      </li>

      </li>
      </div>
      </form>
    </div>
    
  <!-- ***************************** showCustomPricingFormLast ****************************************************************************** -->
    <div ng-if="showCustomPricingFormLast" >
      <form role="form" accept="image/gif, image/jpeg">
      <div class="form-group" ng-form='customPricingForm'>

        <label class="item item-input">
          <span class="input-label small">From</span>
          <input ng-disabled="true" type="number" placeholder="0" value="1000" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="newCustomPricing.from" required>
        </label>  
        
        <label class="item item-input">
          <span class="input-label small">To</span>
          <input ng-disabled="true" type="text" placeholder="Infinity" ng-model="newCustomPricing.to" required>
        </label>

        <label class="item item-input">
          <span class="input-label small">Price (RM)</span>
          <input type="number" placeholder="50.00" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="newCustomPricing.price" required>
        </label>    
      
      <li class="item">
        <div class="button-bar">
          <a ng-disabled="!customPricingForm.$valid" class="button button-small button-balanced" ng-click="addCustomPricing()">Add Pricing</a> 
          <a class="button button-small button-assertive" ng-click="customPricingOperation('cancel',0)">Cancel</a>
        </div>
      </li>

      </li>
      </div>
      </form>
    </div>
    
  <!-- ***************************** showCustomPricingFormEdit ****************************************************************************** -->
    <div ng-if="showCustomPricingFormEdit" >
      <form role="form" accept="image/gif, image/jpeg">
      <div class="form-group" ng-form='customPricingFormEdit'>

        <label class="item item-input">
          <span class="input-label small">From</span>
          <input type="number" placeholder="0" value="1000" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="tempCustomPricing.from" required>
        </label>  
        
        <label ng-if="!showCustomPricingFormLast" class="item item-input">
          <span class="input-label small">To</span>
          <input type="number" placeholder="100" value="1000" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="tempCustomPricing.to" required>
        </label>
   
        <label ng-if="showCustomPricingFormLast" class="item item-input">
          <span class="input-label small">To</span>
          <input type="text" ng-model="tempCustomPricing.to" required>
        </label>

        <label class="item item-input">
          <span class="input-label small">Price (RM)</span>
          <input type="number" placeholder="50.00" value="1000" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="tempCustomPricing.price" required>
        </label>    

      <li class="item">
        <div class="button-bar">
          <a ng-disabled="!customPricingFormEdit.$valid" class="button button-small button-balanced" ng-click="editCustomPricing()">Edit Pricing</a> 
          <a class="button button-small button-assertive" ng-click="customPricingOperation('cancel',0)">Cancel</a>
        </div>
      </li>
      </div>
      </form>
    </div>

</div>
<!-- ***************************** end hasCustomPricing ****************************************************************************** -->
   <br>

<!-- ******************************************************************************************************************************************** -->
<!-- ***************************** Advanced Option (Specification) ****************************************************************************** --> 

   <li class="item item-toggle">
     Advanced Option ?
     <label class="toggle toggle-balanced">
       <input type="checkbox" ng-disabled="loading" ng-model="hasSpecification" ng-change="toogleHasSpecification()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <div ng-if="hasSpecification">  
   <label class="item item-input">
        <span class="input-label small">Minimum Order Quantity *</span>
      <input type="number" placeholder="" value="1000" min="0" step="10" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" ng-model="specification.min_req_quantity" required>
    </label>  
  </div>


<!-- ******************************************************************************************************************************************** -->

    <div ng-if = "state=='addProduct'" class="text-center" ng-show="loading">
      Adding New Product<br>
      {{loadStatus}} <br>
      {{numberUploaded}}/{{imageFiles.length}}
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
  </div>

  <div ng-if = "state=='editProduct'" class="text-center" ng-show="loading">
      Editing Your Product<br>
      {{loadStatus}} <br>
      {{numberUploaded}}/{{imageFiles.length}}
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
  </div>

  <button ng-if = "state=='addProduct'" 
  ng-disabled="!productform.$valid || loading || 
  (!customPricingDone && hasCustomPricing) || 
  (customPricingDone && hasCustomPricing && doneErrorMessageList.length > 0)"

  class="button button-block button-orange" ng-click="createNewProduct()">Add Product</button>
  
  <button ng-if = "state=='editProduct'" 
  ng-disabled="!productform.$valid || loading || 
  (!customPricingDone && hasCustomPricing) || 
  (customPricingDone && hasCustomPricing && doneErrorMessageList.length > 0)"
  class="button button-block button-orange" ng-click="editProduct()">Edit Product</button>

</div>
</form>


    


</div>
<hr>
</p>

</div>

</ion-view>
</ion-content>