<ion-view>
<ion-content class="text-center has-header has-footer padding">
<p>
<h2 class="title">My Products</h2>
    <button class="button button-clear button-positive" ng-click="addProduct()">Add Product</button>

  <div class="text-center" ng-show="loading">
    <img id="mySpinner" src="/img/loader.gif"/>
  </div>

	<ion-list class="text-left">
	    <div ng-repeat="item in myProductsObject">
	    	<a class="item item-avatar item-icon-right" ng-click="showProduct({{item.id}})">
			    <img src="{{item.picture}}">
			    <h2>{{item.name}}</h2>
				<p>RM {{item.price_per_unit}} / unit</p>
				<span class="badge">{{item.category}}</span>
		  	</a>
		</div>
	</ion-list>

    <div ng-if="myProductsObject.length == 0">
    	No products available
    </div>
</p>

</ion-view>
</ion-content>