<ion-view>
<ion-content class="text-center has-header has-footer padding">

<!-- NEXT LINE Even if page is dynamically generated and URL contains query parameters -->
  <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 nopadding">

<p>
<h3 class="title">{{showObject.name}}</h3>
<a href="" class="link small" ng-click="showUser(showObject.user_id)">by {{showObject.user_name}}</a>

<div class="list card text-left">

<!-- ***************************************************************************************************************** -->
  <!-- Product Tabs For Supplier -->
  <div ng-if="authenticated" class="text-center">
    <br>
    <button class="button button-small button-balanced icon-left ion-edit" 
    ng-click="editProduct(showObject.id,userInSession.user_id)">Edit Product</button>
    <button class="button button-small button-assertive icon-left ion-edit" ng-click="comfirmDeleteProduct()">Delete</button>
    <br><br>
  </div>

<!-- ***************************************************************************************************************** -->
  <!-- Product Tabs For Linked User -->
  <div ng-if="linked" class="item tabs">
    <a ng-show="!loading" ng-click="showFunction('info')" class="button icon-left ion-information-circled button-clear button-dark">Show Info</a>
    <a ng-show="!loading" ng-click="showFunction('request')" class="button icon-left ion-paper-airplane button-clear button-dark">Request Product</a>

    <div ng-show="loading">
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
    </div>
  </div>

<!-- ***************************************************************************************************************** -->
<!-- ***************************** INFO ****************************************************************************** -->
  <div ng-if="show=='info'" class="item item-body text-center">
          <h2><strong>{{showObject.name}}</strong><br><span class="small">Last Updated {{lastUpdatedAgo}}<span></h2>          
            
            <span ng-if="showObject.quantity > 0" class="label label-success">{{showObject.quantity}} available</span>
            <span ng-if="showObject.quantity <= 0 || showObject.quantity == null" class="label label-danger">Out Of Stock</span>
            
            <br><br>
            
            <a style="text-decoration:none;" target="_blank" href="{{showObject.picture}}">
            <img src="{{showObject.picture}}" class="full-image image-fit">
            </a>

            <br><br>
  
            <span class="info-with-fa">
                <li class="fa fa-suitcase" >
                </li>
                {{showObject.category}}
            </span> 
            
            <br>
            
            <span class="info-with-fa" ng-if="!hasCustomPricing">
                <li class="fa fa-tag" >
                </li>
                RM {{showObject.price_per_unit}} / unit
                <br><br>
            </span> 

            <span class="info-with-fa" ng-if="hasCustomPricing">
                <br>
                <li class="fa fa-tag" >
                </li>
                <u>Custom Pricing</u>

            <div>
              <ul class="list-inline small text-center">
                <li ng-repeat="custom in customPricingList">
                  <strong>{{custom.from}}-{{custom.to}}</strong>
                  <br>
                  <span class="text-muted">RM {{custom.price}}</span>

                </li>
              </ul>
            </div>
            </span>

          <div class="small item item-body text-muted">
            <span ng-if="showObject.description == '' || showObject.description == null">
            There is no description for this product
            </span>    
            <span ng-if="showObject.description != ''">
            {{showObject.description}}
            </span>          
          </div>        
  </div>

<!-- ********************************************************************************************************************** -->
<!-- **************************** REQUEST FORM **************************************************************************** -->
  <div ng-if="show=='request'" class="item item-body">
            <div class="text-center">
              <span ng-if="showObject.quantity > 0" class="label label-success">{{showObject.quantity}} available</span>
              <span ng-if="showObject.quantity <= 0 || showObject.quantity == null" class="label label-danger">Out Of Stock</span>  
              <br>
            <span class="info-with-fa" ng-if="!hasCustomPricing">
                <br>
                <li class="fa fa-tag" >
                </li>
                RM {{showObject.price_per_unit}} / unit
            </span> 

            <span class="info-with-fa" ng-if="hasCustomPricing">
                <br>
                <li class="fa fa-tag" >
                </li>
                <u>Custom Pricing</u>
              <div>
                <ul class="list-inline small text-center">
                  <li ng-repeat="custom in customPricingList">
                    <strong>{{custom.from}}-{{custom.to}}</strong>
                    <br>
                    <span class="text-muted">RM {{custom.price}}</span>

                  </li>
                </ul>
              </div>
            </span>
          </div>
    <hr>
    <div class="text-left">

    <form role="form">
    <div class="form-group" ng-form='requestform'>
      
      <!-- Total Price -->
      <div class="text-center">
          <h4>Total Price For This Request</h4><h1><span class="label label-pill label-success">RM {{newRequest.total_price}}</span></h1>
          <br>
      </div>

      <div class="list">

      <!-- ERROR MESSAGE -->
      <small ng-if="newRequest.quantity > showObject.quantity" class="text-assertive text-center">[Error] The quantity is larger than available product</small>

      <label class="item item-input">
        <span class="input-label">Quantity</span><br>
        <input type="number" value="1000" min="0" step="1" placeholder="100" ng-model="newRequest.quantity" ng-change="updateTotalPrice()" required>
      </label>  

        <label class="item item-input item-select">
          <div class="input-label">Request Type</div>
          <select ng-model="newRequest.type" required>
            <option selected>Delivery</option>
            <option>Pick Up</option>
          </select>
        </label>


        <!-- Delivery Address -->
        <!-- Delivery Address -->
      <label ng-show="newRequest.type != 'Pick Up'" class="item item-input item-stacked-label">
          <div class="input-label">Delivery Address</div>

          <!-- address-line1 input-->
          <label class="item-input">
            <input type="text" class="form-control" id="address-line1" name="address-line1" placeholder="Address Line 1" ng-model="delivery_address.address_line_1" required>
          </label>    

          <!-- address-line2 input-->
          <label class="item-input">
            <input type="text" class="form-control" id="address-line2" name="address-line2" placeholder="Address Line 2" ng-model="delivery_address.address_line_2">
          </label>    

          <!-- city input-->
          <label class="item-input">
            <input type="text" class="form-control" id="city" name="city" placeholder="City" ng-model="delivery_address.city" required>
          </label>      

          <!-- postal-code input-->
          <label class="item-input">
            <input type="text" class="form-control" id="postal-code" name="postal-code" placeholder="Postal Code" ng-model="delivery_address.postal_code" required>
          </label>        

           <!-- state -->
          <div class="list">
          <label class="item-input item-select">
            <div class="input-label" ng-show="delivery_address.state == null">State</div>
            <div class="input-label" ng-show="delivery_address.state != ''">{{delivery_address.state}}</div>
            <select ng-model="delivery_address.state" required>
              <option selected>Johor</option>
              <option>Kedah</option>
              <option>Kelantan</option>
              <option>Kuala Lumpur</option>
              <option>Labuan</option>
              <option>Malacca</option>
              <option>Negeri Sembilan</option>
              <option>Pahang</option>
              <option>Penang</option>
              <option>Perak</option>
              <option>Perlis</option>
              <option>Putrajaya</option>
              <option>Sabah</option>
              <option>Sarawak</option>
              <option>Selangor</option>
              <option>Terengganu</option>
            </select>
          </label>
        </div>
      </label>
        <!-- Delivery Address -->
        <!-- Delivery Address -->


      <label class="item item-input item-stacked-label">
        <span class="input-label">Additional Note</span>
        <textarea class="form-control" placeholder="Optional" rows="4" ng-model="newRequest.note"></textarea>
      </label>
      </div>
      
      <div class="text-center" ng-show="loadingRequest">
          Requesting Product<br>
          <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
      </div>

      <button ng-disabled="!requestform.$valid || loadingRequest || (newRequest.quantity > showObject.quantity)" 
        type="submit" class="button button-block button-positive" ng-click="requestProduct()">Send Request</button>

    </div>
    </form>
    </div>

  </div>

  <!-- ********************************************************************************************************************** -->
  <!-- **************************** VISIT SUPPLIER **************************************************************************** -->
  <div class="item text-center">
    <button class="button button-small button-positive icon-left ion-person" ng-click="showUser(showObject.user_id)">Visit Supplier</button>
  </div>

  <!-- ********************************************************************************************************************** -->
  <!-- **************************** VISIT SUPPLIER **************************************************************************** -->
  <div class="item text-center" ng-if="authenticated">
    <small class="text-muted">Share This Product</small>
    <br>

    <div id="social">
      <a class="facebookBtn smGlobalBtn" ng-click="share('facebook','showProduct',showObject.id,showObject.name,showObject.picture, showObject.description)"></a>
      <a class="twitterBtn smGlobalBtn" ng-click="share('twitter','showProduct',showObject.id,showObject.name)"></a>
    </div>      
  </div>

</div>

</p>
<hr>
</div>

</ion-view>
</ion-content>