<ion-view>
<ion-content class="text-center has-header has-footer padding">

<!-- NEXT LINE Even if page is dynamically generated and URL contains query parameters -->
<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 nopadding">

<update-meta property="og:image" content="{{showObject.picture.getHttpLink()}}"></update-meta>

<p>

<a class='link' href="" ng-click="refresh('Product')">
<h3>{{showObject.name}}</h3>
</a>
<a href="" class="link small" ng-click="showUser(showObject.user_id)">by {{showObject.user_name}}</a>

<div class="list card text-left">

<!-- ***************************************************************************************************************** -->
  <!-- Product Tabs For Supplier -->
  <div ng-if="authenticated" class="text-center">
    <br>
    <button class="button button-small button-balanced icon-left ion-edit" 
    ng-click="editProduct(showObject.id,userInSession.user_id)">Edit Product</button>
    <button class="button button-small button-assertive icon-left ion-edit" ng-click="comfirmDeleteProduct()">Delete</button>
    <br><br>
  </div>

<!-- ***************************************************************************************************************** -->
  <!-- Product Tabs For Linked User -->
  <div ng-if="linked && userInSession.user_type > showObject.other_user_type" class="item tabs">
    <a ng-show="!loading" ng-click="showFunction('info')" class="button icon-left ion-information-circled button-clear button-dark">Show Info</a>
    <a ng-show="!loading" ng-click="showFunction('request')" class="button icon-left ion-paper-airplane button-clear button-dark">Request Product</a>

    <div ng-show="loading">
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
    </div>
  </div>

<!-- ***************************************************************************************************************** -->
<!-- ***************************** INFO ****************************************************************************** -->
  <div ng-if="show=='info'" class="item item-body text-center">
          <h2><strong>{{showObject.name}}</strong><br><span class="small">Last Updated {{lastUpdatedAgo}}<span></h2>          
            
            <span ng-if="showObject.quantity > 0" class="label label-success">{{showObject.quantity}} available</span>
            <span ng-if="showObject.quantity <= 0 || showObject.quantity == null" class="label label-danger">Out Of Stock</span>
            
            <br><br>
            
      <!-- %%%%%%%%%%%% -->
      <!--   IMAGESSS   -->
       <div ng-repeat="item in imageList" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
          <a style="text-decoration:none;" ng-click="openModal(showObject.name,item)" href="">
          <img src="{{item}}" class="img-rounded inline-block" alt="Cinque Terre" width="300" height="300">
          </a>
          <br><br>
       </div>


          <h1 style="font-size:20px;"><small><i class="fa fa-suitcase"></i> Category</small>
              <br>
                {{showObject.category}}
          </h1>

          <h1 ng-if="!hasCustomPricing" style="font-size:20px;"><small><i class="fa fa-tag"></i> Price Per Unit</small>
              <br>
              RM {{showObject.price_per_unit}} / unit
          </h1>

          <h1 ng-if="hasSpecification" style="font-size:20px;"><small><i class="fa fa-list-ol"></i> Minimum Order Quantity</small>
              <br>
              {{showObject.specification.min_req_quantity}} unit
          </h1>


            <span ng-if="hasCustomPricing">
               <h1 style="font-size:20px;"><small><i class="fa fa-tag"></i> Custom Pricing</small>
              <div>
                <ul class="list-inline small text-center">
                  <li ng-repeat="custom in customPricingList">
                    <strong>{{custom.from}}-{{custom.to}}</strong>
                    <br>
                    <span class="text-muted">RM {{custom.price}}</span>

                  </li>
                </ul>
              </div>            
              </h1>
            </span>


          <div class="small item item-body text-muted">
            <span ng-if="showObject.description == '' || showObject.description == null">
            There is no description for this product
            </span>    
            <span ng-if="showObject.description != ''">
            {{showObject.description}}
            </span>          
          </div>        
  </div>

<!-- ********************************************************************************************************************** -->
<!-- **************************** REQUEST FORM **************************************************************************** -->
  <div ng-if="show=='request' && userInSession.user_type > showObject.other_user_type" class="item item-body">
            <div class="text-center">
              <span ng-if="showObject.quantity > 0" class="label label-success">{{showObject.quantity}} available</span>
              <span ng-if="showObject.quantity <= 0 || showObject.quantity == null" class="label label-danger">Out Of Stock</span>  
              <br>

          <h1 ng-if="!hasCustomPricing" style="font-size:20px;"><small><i class="fa fa-tag"></i> Price Per Unit</small>
              <br>
              RM {{showObject.price_per_unit}} / unit
          </h1>

          <h1 ng-if="hasSpecification" style="font-size:20px;"><small><i class="fa fa-list-ol"></i> Minimum Order Quantity</small>
              <br>
              {{showObject.specification.min_req_quantity}} unit
          </h1>


            <span ng-if="hasCustomPricing">
               <h1 style="font-size:20px;"><small><i class="fa fa-tag"></i> Custom Pricing</small>
              <div>
                <ul class="list-inline small text-center">
                  <li ng-repeat="custom in customPricingList">
                    <strong>{{custom.from}}-{{custom.to}}</strong>
                    <br>
                    <span class="text-muted">RM {{custom.price}}</span>

                  </li>
                </ul>
              </div>            
              </h1>
            </span>

          </div>
    <hr>
    <div class="text-left">

    <form role="form">
    <div class="form-group" ng-form='requestform'>
      
      <!-- Total Price -->
      <div class="text-center">
          <h4>Total Price For This Request</h4><h1><span class="label label-pill label-success">RM {{newRequest.total_price}}</span></h1>
          <br>
      </div>

      <div class="list">

      <!-- ERROR MESSAGE -->
      <small ng-if="newRequest.quantity > showObject.quantity" class="text-assertive text-center">[Error] The quantity is larger than available product</small>
      <small ng-if="newRequest.quantity < showObject.specification.min_req_quantity" class="text-assertive text-center">[Error] The quantity is smaller than Minumum Order Quantity</small>

      <label class="item item-input">
        <span class="input-label">Quantity</span><br>
        <input type="number" value="1000" min="0" step="1" placeholder="100" ng-model="newRequest.quantity" ng-change="updateTotalPrice()" required>
      </label>  

        <label class="item item-input item-select">
          <div class="input-label">Request Type</div>
          <select ng-model="newRequest.type" required>
            <option selected>Delivery</option>
            <option>Pick Up</option>
          </select>
        </label>


        <!-- Delivery Address -->
        <!-- Delivery Address -->
      <label ng-show="newRequest.type != 'Pick Up'" class="item item-input item-stacked-label">
          <div class="input-label">Delivery Address</div>

          <!-- address-line1 input-->
          <label class="item-input">
            <input type="text" class="form-control" id="address-line1" name="address-line1" placeholder="Address Line 1" ng-model="delivery_address.address_line_1" required>
          </label>    

          <!-- address-line2 input-->
          <label class="item-input">
            <input type="text" class="form-control" id="address-line2" name="address-line2" placeholder="Address Line 2" ng-model="delivery_address.address_line_2">
          </label>    

          <!-- city input-->
          <label class="item-input">
            <input type="text" class="form-control" id="city" name="city" placeholder="City" ng-model="delivery_address.city" required>
          </label>      

          <!-- postal-code input-->
          <label class="item-input">
            <input type="text" class="form-control" id="postal-code" name="postal-code" placeholder="Postal Code" ng-model="delivery_address.postal_code" required>
          </label>        

           <!-- state -->
          <div class="list">
          <label class="item-input item-select">
            <div class="input-label" ng-show="delivery_address.state == null">State</div>
            <div class="input-label" ng-show="delivery_address.state != ''">{{delivery_address.state}}</div>
            <select ng-model="delivery_address.state" required>
              <option selected>Johor</option>
              <option>Kedah</option>
              <option>Kelantan</option>
              <option>Kuala Lumpur</option>
              <option>Labuan</option>
              <option>Malacca</option>
              <option>Negeri Sembilan</option>
              <option>Pahang</option>
              <option>Penang</option>
              <option>Perak</option>
              <option>Perlis</option>
              <option>Putrajaya</option>
              <option>Sabah</option>
              <option>Sarawak</option>
              <option>Selangor</option>
              <option>Terengganu</option>
            </select>
          </label>
        </div>
      </label>
        <!-- Delivery Address -->
        <!-- Delivery Address -->


      <label class="item item-input item-stacked-label">
        <span class="input-label">Additional Note</span>
        <textarea class="form-control" placeholder="Optional" rows="4" ng-model="newRequest.note"></textarea>
      </label>
      </div>
      
      <div class="text-center" ng-show="loadingRequest">
          Requesting Product<br>
          <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
      </div>

      <button ng-if="newRequest.type == 'Delivery' || newRequest.type == null" ng-disabled="!requestform.$valid || loadingRequest 
                      || (newRequest.quantity > showObject.quantity) || (newRequest.quantity < showObject.specification.min_req_quantity)" 
        type="submit" class="button button-block button-positive" ng-click="requestProduct()">Send Request</button>

      <button ng-if="newRequest.type == 'Pick Up'" ng-disabled="loadingRequest || (newRequest.quantity > showObject.quantity) 
                      || newRequest.quantity == null || (newRequest.quantity < showObject.specification.min_req_quantity)" 
        type="submit" class="button button-block button-positive" ng-click="requestProduct()">Send Request</button>

    </div>
    </form>
    </div>

  </div>

  <div ng-if="show=='request' && userInSession.user_type <= showObject.other_user_type" class="item item-body text-center">
    <span class="text-assertive">Opps.. You cannot request product from your {{showObject.other_user_type.getUserType()}}</span><br><br>
    <button class="button button-positive icon-left ion-arrow-left-a" ng-click="showFunction('info')">Go Back</button>

  </div>

  <!-- ********************************************************************************************************************** -->
  <!-- **************************** VISIT SUPPLIER **************************************************************************** -->
  <div class="item text-center">
    <button class="button button-small button-orange icon-left ion-person" ng-click="showUser(showObject.user_id)">Visit {{showObject.other_user_type.getUserType()}}</button>
  </div>

  <!-- ********************************************************************************************************************** -->
  <!-- **************************** VISIT SUPPLIER **************************************************************************** -->
  <div class="item text-center" ng-if="authenticated">
    <small class="text-muted">Share This Product</small>
    <br>

    <div id="social">
      <a class="facebookBtn smGlobalBtn" ng-click="share('facebook','showProduct',showObject.id,showObject.name,showObject.picture, showObject.description)"></a>
      <a class="twitterBtn smGlobalBtn" ng-click="share('twitter','showProduct',showObject.id,showObject.name)"></a>
    </div>      
  </div>

</div>

</p>
<hr>
</div>

</ion-view>
</ion-content>