<p>
<h3 class="title">{{showObject.name}}</h3>
<h6><strong>Product {{showObject.id}} </strong> by Supplier {{showObject.supplier_id}}</h6>

<div class="list card text-left">

  <!-- Product Tabs For Supplier -->
  <div ng-if="authenticated" class="item tabs">
    <a ng-show="!loading" class="tab-item" ng-click="editProduct()">
      Edit
    </a>
    <div ng-show="loading">
      <img  id="mySpinner" src="/img/loader.gif"/>
    </div>
    <a ng-show="!loading" class="tab-item"  ng-click="deleteProduct()">
      Delete
    </a>
  </div>

  <!-- Product Tabs For Linked User -->
  <div ng-if="linkedAgent" class="item tabs">
    <a ng-show="!loading" class="tab-item" ng-click="requestProduct()">
      Request Product
    </a>
    <div ng-show="loading">
      <img  id="mySpinner" src="/img/loader.gif"/>
    </div>
  </div>

  <div class="item item-body">
    <div class="text-center">

    <a href="{{showObject.picture}}" target="_blank">
        <img href="{{showObject.picture}}" class="full-image image-fit" src="{{showObject.picture}}">
    </a>
  
    </div>
    <h3><strong>Price Per Unit</strong> | RM {{showObject.price_per_unit}}</h3>
    <h3><strong>Category</strong> | {{showObject.category}}</h3>
    
    <hr>
    <h3><strong>Description</strong></h3>
    <p ng-if="showObject.description == ''">
		There is no description for this product
    </p>    
    <p ng-if="showObject.description != ''">
		{{showObject.description}}
    </p>

  </div>


</div>

</p>