<ion-view>
<ion-content class="text-center has-header has-footer padding" scroll="false">

<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
	
      <ion-refresher on-refresh="refresh()">
      </ion-refresher>
<p>

<div ng-if="!isMyProduct">
	<a class="link" href="" ng-click="refresh()">
		<h2>Products List</h2>
	</a>
	<a href="" class="link small" ng-click="showUser(userObject.id)">by {{userObject.user_name}}</a>
</div>

<div ng-if="isMyProduct">
	<a class="link" href="" ng-click="refresh()">
		<h2>My Products</h2>
	</a>
	<a href="" class="link" ng-click="addProduct()">Add New Product</a>
</div>

<div ng-show="loading || loadingLink">
<img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
</div>

<div  ng-if="!linked && !isMyProduct && !loadingLink">
	<hr>
	<span class="item item-body">
	<h2 class="text-assertive">Opps sorry.. You cannot view the product list.</h2>   	
	<small>You are not linked with<br><strong>{{userObject.user_name}}</strong></small>
	<br><br>
	<small class="text-muted">Send A Link Request To</small><br>
    <button class="button button-positive icon-left ion-person" 
      ng-click="showUser(userObject.id)">{{userObject.user_name}}</button>
	</span>
</div>	

<div ng-if="linked || isMyProduct">

<div class="card list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>

    <input ng-if="!isMyProduct" type="text" class="form-control" placeholder="Search Product By {{userObject.user_name}}" ng-model="search.key" ng-change="submit()" required>

    <input ng-if="isMyProduct" type="text" class="form-control" placeholder="Search My Product" ng-model="search.key" ng-change="submit()" required>

  </label>

    <div class="text-left">
    <div class="list">
          <div ng-repeat="item in searchProduct">
            <a class="item item-avatar" ng-click="showProduct(item.id,'info')">
              <img ng-init="picture = item.picture.getFirstPicture()" src="{{picture}}">
                <h2>{{item.name}}</h2>
				<span ng-if="item.quantity > 0" class="label label-success">{{item.quantity}} available</span>
      			<span ng-if="item.quantity <= 0 || item.quantity == null" class="label label-danger">Out Of Stock</span>
      			<span class="badge">{{item.category}}</span>

      		</a>

          </div>
    </div>
  </div>

    <div ng-if="searchProduct.length == 0 && isSubmit && search.key.length>2 && !searchLoad">
      No result found for <strong>'{{search.key}}'</strong>
    </div>

  <div class="text-center" ng-show="searchLoad">
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
  </div>    
</div>
 <br>
<!-- ******************************************************************************************************************************* -->

   <div ng-repeat="item in productList" class="col-xl-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class = "item item-body">
      	<div class="thumbnail"> 
      		<div class="text-center" id="image-thumbnail">
      			<a href="" ng-init="picture = item.picture.getFirstPicture()" ng-click="openModal(item.name,picture)"><img class="img-responsive" src="{{picture}}"></img></a>
      		</div>
      		<span ng-if="item.quantity > 0" class="label label-success">{{item.quantity}} available</span>
      		<span ng-if="item.quantity <= 0 || item.quantity == null" class="label label-danger">Out Of Stock</span>
        </div>

        <div class = "caption">
			 <h3><strong>{{item.name}}</strong><br><span class="small">Last Updated {{item.updated_at.getDate()}}</span></h3>	         
	         <p id="description-thumbnail">
	         	<small>
				<span class="glyphicon glyphicon-tag" aria-hidden="true"> </span>
			   	<strong ng-if="item.custom_pricing == '' || item.custom_pricing == null" > RM {{item.price_per_unit}} / unit</strong>
				<strong ng-if="item.custom_pricing != null && item.price_per_unit == 0" > Custom Price</strong>
				</small>
				<br>
	         	<small style="font-style:italic;">{{item.description}}</small>
	         </p>
	         
	         	<div>
					<span ng-if="linked && userInSession.user_type > userObject.user_type">	
						<button class="button button-small button-balanced icon-left ion-paper-airplane" 
						ng-click="showProduct(item.id,'request')">Request Product</button>
					</span>
					<span ng-if="isMyProduct">	
						<button class="button button-small button-balanced icon-left ion-edit" 
					ng-click="editProduct(item.id,item.user_id)">Edit Product</button>
					</span>


					<button class="button button-small button-orange icon-right ion-arrow-right-a" ng-click="showProduct(item.id,'info')">Show More</button>
				</div>	         
	      </div>      
      </div>
      <br>
   </div>


	  <div class="item text-center" ng-show="loading">
	    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
	  </div>

	  <div  class="item text-center" ng-if="productList.length == 0 && userInSession.user_id == userObject.id">
	   	<span ng-if="pageNumber == 1">
			Looks empty here.
			Let's add something    	
	    	<br><br>
            <button class="button button-orange icon-left ion-bag" 
              ng-click="addProduct()">Add New Product</button>

	    </span>
	    
	    <span class="text-center" ng-if="pageNumber > 1">
	    	No more product available
	    	<br><br>
            <button class="button button-orange icon-left ion-bag" 
              ng-click="addProduct()">Add More Product</button>
	    </span>
	  </div>

	  <div  class="item text-center" ng-if="productList.length == 0 && userInSession.user_id != userObject.id">
	  	No product added yet.
	  </div>

	  <br>

  </div>	
 
 <hr>

	<div class="row"></div>

      <div ng-if="linked || isMyProduct" ng-hide="productList.length == 0" class ="text-center">
          <small style="font-size:10px;">Showing {{loadedProduct}} of {{totalProduct}} products</small><br>
          <button ng-if="loadedProduct < totalProduct" class="button button-small button-orange icon-left ion-load-d" 
            ng-click="getMore()">Load More Products</button>
      </div>

	<hr>
	<hr>

</p>

</div>	



</ion-view>
</ion-content>