<ion-view>
<ion-content class="text-center has-header has-footer padding">
<p>

<h2 class="title">Product List</h2>

<a href="" class="link small" ng-click="showUser(userObject.id)">by {{userObject.user_name}}</a>
<br><br>
      <!-- ******************************************************************************************************************************* -->
      <ion-list class="text-left">
        <div ng-repeat="item in productList">

	    	<a class="item item-avatar item-icon-right" ng-click="toggleItem(item)" ng-class="{active: isItemShown(item)}">
			    <img src="{{item.picture}}">
			    <h2>{{item.name}}</h2>
				
				<span ng-if="item.quantity > 0" class="label label-success">{{item.quantity}} available</span>
      			<span ng-if="item.quantity <= 0 || item.quantity == null" class="label label-danger">Out Of Stock</span>

				<span class="badge">{{item.category}}</span>
		  
		<!--
		    <div ng-if="stateName=='myActiveListing'">
		   	<h5 class="text-success" ng-if="item.payment_status == TRANS_STATUS.COMFIRMED">
		      Payment Comfirmed
		    </h5>
			</div>
		-->

		    <!--<i class="icon ion-ios-telephone-outline"></i>-->
		  	</a>
		
		<!-- ******************************************************************************************************************************* -->
		<!-- ******************************************************************************************************************************* -->
        <!--EXPAND ************************************************************************************************************************* -->
          <ion-item ng-show="isItemShown(item)">
          	<div class = "text-left">
			    	<h2 ><strong>{{item.name}}</strong></h2>
					<h4>
						Last Update {{timeAgo}}
					</h4>

					<div ng-if="linked">
						<br>
						<button class="button button-small button-balanced icon-left ion-paper-airplane" ng-click="showProduct(showItem.id,'request')">Request Product</button>
					</div>
					<br>
					
			    <!--- TRANSACTION INFO ************************************************************************************************************* -->
				<div class="small item item-body">
					<span class="glyphicon glyphicon-tag" aria-hidden="true"> </span>
				   	<strong ng-if="item.custom_pricing == '' || item.custom_pricing == null" > RM {{item.price_per_unit}} / unit</strong>
					<strong ng-if="item.custom_pricing != null && item.price_per_unit == 0" > Custom Price</strong>
					<br>
				   	{{item.description}}
				</div>
			</div>
          </ion-item>
        </div>

      </ion-list>
  
  <div class="text-center" ng-show="loading">
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
  </div>

  <div ng-if="productList.length == 0">
    	No product available
  </div>
</p>
</ion-view>
</ion-content>