<ion-view>
<ion-content class="text-center has-header has-footer padding">

<div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">

<p>

<div ng-if="!isMyProduct">
	<a class="link" href="" ng-click="refresh()">
		<h2>Products List</h2>
	</a>
	<a href="" class="link small" ng-click="showUser(userObject.id)">by {{userObject.user_name}}</a>
</div>

<div ng-if="isMyProduct">
	<a class="link" href="" ng-click="refresh()">
		<h2>My Products</h2>
	</a>
	<a href="" class="link" ng-click="addProduct()">Add New Product</a>
</div>

<div ng-show="loading || loadingLink">
<img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
</div>

<div  ng-if="!linked && !isMyProduct && !loadingLink">
	<hr>
	<span class="item item-body">
	<h2 class="text-assertive">Opps sorry.. You cannot view the product list.</h2>   	
	<small>You are not linked with<br><strong>{{userObject.user_name}}</strong></small>
	<br><br>
	<small class="text-muted">Send A Link Request To</small><br>
    <button class="button button-positive icon-left ion-person" 
      ng-click="showUser(userObject.id)">{{userObject.user_name}}</button>
	</span>
</div>	

<div ng-if="linked || isMyProduct">

<div class="card list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>

    <input ng-if="!isMyProduct" type="text" class="form-control" placeholder="Search Product By {{userObject.user_name}}" ng-model="search.key" ng-change="submit()" required>

    <input ng-if="isMyProduct" type="text" class="form-control" placeholder="Search My Product" ng-model="search.key" ng-change="submit()" required>

  </label>

    <div class="text-left">
    <div class="list">
          <div ng-repeat="item in searchProduct">
            <a class="item item-avatar" ng-click="showProduct(item.id,'info')">
              <img src="{{item.picture}}">
                <h2>{{item.name}}</h2>
				<span ng-if="item.quantity > 0" class="label label-success">{{item.quantity}} available</span>
      			<span ng-if="item.quantity <= 0 || item.quantity == null" class="label label-danger">Out Of Stock</span>
      			<span class="badge">{{item.category}}</span>

      		</a>

          </div>
    </div>
  </div>

    <div ng-if="searchProduct.length == 0 && isSubmit && search.key.length>2 && !searchLoad">
      No result found for <strong>'{{search.key}}'</strong>
    </div>

  <div class="text-center" ng-show="searchLoad">
    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
  </div>
      
</div>


  

<!-- ******************************************************************************************************************************* -->
      <ion-list class="text-left">

      <div class = "item text-right">

            <span ng-disabled="true" class="button button-small button-dark">Page {{pageNumber}}</span>

            <button ng-if="pageNumber > 1" class="button button-small button-assertive icon-left ion-arrow-left-a" 
              ng-click="getMore('previous')">Previous</button>

            <button ng-if="productList.length == OFFSET.PAGE" class="button button-small button-positive icon-right ion-arrow-right-a" 
              ng-click="getMore('next')">Next</button>

    </div>


        <div ng-repeat="item in productList">

	    	<a class="item item-avatar item-icon-right" ng-click="toggleItem(item)" ng-class="{active: isItemShown(item)}">
			    <img src="{{item.picture}}">
			    <h2>{{item.name}}</h2>
				
				<span ng-if="item.quantity > 0" class="label label-success">{{item.quantity}} available</span>
      			<span ng-if="item.quantity <= 0 || item.quantity == null" class="label label-danger">Out Of Stock</span>

				<span class="badge">{{item.category}}</span>
		  	</a>
		
		<!-- ******************************************************************************************************************************* -->
		<!-- ******************************************************************************************************************************* -->
        <!--EXPAND ************************************************************************************************************************* -->
          <ion-item ng-show="isItemShown(item)">
          	<div class = "item-body text-left">
			    	<h2 ><strong>{{item.name}}</strong><br><span class="small">Last Updated {{timeAgo}}<span></h2>
	
				<div>
					<br>
					<span ng-if="linked && userInSession.user_type > userObject.user_type">	
						<button class="button button-small button-balanced icon-left ion-paper-airplane" 
						ng-click="showProduct(showItem.id,'request')">Request Product</button>
					</span>
					<span ng-if="isMyProduct">	
						<button class="button button-small button-balanced icon-left ion-edit" 
					ng-click="editProduct(showItem.id,showItem.user_id)">Edit Product</button>
					</span>


					<button class="button button-small button-orange icon-right ion-arrow-right-a" ng-click="showProduct(showItem.id,'info')">Show More</button>
				</div>
					<br>
					
			    <!--- TRANSACTION INFO ************************************************************************************************************* -->
				<div class="small item item-body">
					<span class="glyphicon glyphicon-tag" aria-hidden="true"> </span>
				   	<strong ng-if="item.custom_pricing == '' || item.custom_pricing == null" > RM {{item.price_per_unit}} / unit</strong>
					<strong ng-if="item.custom_pricing != null && item.price_per_unit == 0" > Custom Price</strong>
					<br>
				   	{{item.description}}
				</div>
			</div>
          </ion-item>
        </div>

	  <div class="item text-center" ng-show="loading">
	    <img id="mySpinner" ng-src="{{APP_CONSTANT.LOADER}}"/>
	  </div>

	  <div  class="item text-center" ng-if="productList.length == 0 && userInSession.user_id == userObject.id">
	   	<span ng-if="pageNumber == 1">
			Looks empty here.
			Let's add something    	
	    	<br><br>
            <button class="button button-orange icon-left ion-bag" 
              ng-click="addProduct()">Add New Product</button>

	    </span>
	    
	    <span class="text-center" ng-if="pageNumber > 1">
	    	No more product available
	    	<br><br>
            <button class="button button-orange icon-left ion-bag" 
              ng-click="addProduct()">Add More Product</button>
	    </span>
	  </div>

	  <div  class="item text-center" ng-if="productList.length == 0 && userInSession.user_id != userObject.id">
	  	No product added yet.
	  </div>


	      <div class = "item text-right">

	    <span ng-disabled="true" class="button button-small button-dark">Page {{pageNumber}}</span>

	    <button ng-if="pageNumber > 1" class="button button-small button-assertive icon-left ion-arrow-left-a" 
	      ng-click="getMore('previous')">Previous</button>

	    <button ng-if="productList.length == OFFSET.PAGE" class="button button-small button-positive icon-right ion-arrow-right-a" 
	      ng-click="getMore('next')">Next</button>

	    </div>


      </ion-list>
 

  </div>	

  <!-- ******************************************************************************************************************************** -->
  <!-- PRODUCT LIST THUMBNAIL ********************************************************************************************************* -->
	<hr>

   <div ng-repeat="item in productList" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class = "item item-body">
      	<div class="thumbnail"> 
      		<div class="text-center" id="image-thumbnail">
      			<a href="" ng-click="openModal(item.name,item.picture)"><img class="img-responsive" src="{{item.picture}}"></img></a>
      		</div>
      		<span ng-if="item.quantity > 0" class="label label-success">{{item.quantity}} available</span>
      		<span ng-if="item.quantity <= 0 || item.quantity == null" class="label label-danger">Out Of Stock</span>
        </div>

        <div class = "caption">
			 <h3><strong>{{item.name}}</strong><br><span class="small">Last Updated {{item.updated_at.getDate()}}</span></h3>	         
	         <p id="description-thumbnail">
	         	<small>
				<span class="glyphicon glyphicon-tag" aria-hidden="true"> </span>
			   	<strong ng-if="item.custom_pricing == '' || item.custom_pricing == null" > RM {{item.price_per_unit}} / unit</strong>
				<strong ng-if="item.custom_pricing != null && item.price_per_unit == 0" > Custom Price</strong>
				</small>
				<br>
	         	<small style="font-style:italic;">{{item.description}}</small>
	         </p>
	         
	         	<div>
					<span ng-if="linked && userInSession.user_type > userObject.user_type">	
						<button class="button button-small button-balanced icon-left ion-paper-airplane" 
						ng-click="showProduct(item.id,'request')">Request Product</button>
					</span>
					<span ng-if="isMyProduct">	
						<button class="button button-small button-balanced icon-left ion-edit" 
					ng-click="editProduct(item.id,item.user_id)">Edit Product</button>
					</span>


					<button class="button button-small button-orange icon-right ion-arrow-right-a" ng-click="showProduct(item.id,'info')">Show More</button>
				</div>	         
	      </div>      
      </div>
      <br>
   </div>


<div  class="row"><hr></div>
  <!-- PRODUCT LIST THUMBNAIL ********************************************************************************************************* -->
  <!-- ******************************************************************************************************************************** -->
</p>

</div>	



</ion-view>
</ion-content>