<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta property="og:url"           content="http://hosting.backand.io/dropbug/#/">
    <meta property="og:type"          content="website">
    <meta property="og:title"         content="DropBug">
    <meta property="og:description"   content="">
    <meta property="og:image"         content="http://hosting.backand.io/dropbug/img/logo_small_new.png">
    <title>DropBug</title>
    
    <!-- compiled css output -->
    

    <link rel="icon" type="image/png" href="img/favicons/favicon.ico">
    <!-- time ago -->
    <script src="lib/timeago/jquery-3.0.0.min.js"></script>
    <script src="lib/timeago/jquery.timeago.js"></script>    

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>

    <!-- Backand -->
    <script src="https://cdn.backand.net/backand/dist/1.8.2/backand.min.js"></script>
    <script src="https://cdn.auth0.com/w2/auth0-6.7.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/bundle.js"></script>
    <script src="js/service.js"></script>
    <script src="js/constant.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/prototype.js"></script>
    <script src="home/home.js"></script>
    <script src="login/login-signup.js"></script>
    <script src="register/register.js"></script>
    <script src="users/users.js"></script>
    <script src="transactions/transactions.js"></script>
    <script src="products/products.js"></script>
    <script src="contact/contact.js"></script>
    <script src="about/about.js"></script>
    <script src="reviews/reviews.js"></script>
    
    <link href="css/style.css" rel="stylesheet">
    <link href="css/button.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">


    <!-- Growl Notification -->
    <link href="lib/growl/angular-growl.min.css" rel="stylesheet" media="screen"> 
    <script src="lib/growl/angular-growl.min.js"></script>


        <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="css/modal.css" rel="stylesheet">

    <!-- auth0-angular -->
    <script src="lib/auth0-angular/build/auth0-angular.js"></script>
    <script src="lib/auth0.js/build/auth0.js"></script>

    <!-- angular storage -->
    <script src="lib/a0-angular-storage/dist/angular-storage.js"></script>
    <script src="//connect.facebook.net/en_US/sdk.js"></script>

    <!-- angular-jwt -->
    <script src="lib/angular-jwt/dist/angular-jwt.js"></script>
    <script src="https://code.angularjs.org/1.2.16/angular-route.js" type="text/javascript"> </script>
    <script src="https://code.angularjs.org/1.2.16/angular-cookies.js" type="text/javascript"> </script>

    <!-- angular-js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.js"></script>
    <script src="lib/angular-update-meta/dist/update-meta.min.js"></script>

    <!-- After commenting this 2 out it seems to be working ??
    <script src="//cdn.auth0.com/w2/auth0-5.js"></script>
    <script src="//cdn.auth0.com/w2/auth0-angular-2.js"> </script>
    -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>

<link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet">

  </head>

<!-- ##################################################################################################################################################### -->
<!-- ########### BODY #################################################################################################################################### -->
<!-- ########### BODY ##################################################################################################################################### -->

<body ng-app="sample" ng-controller="AppController">

      <!--HEADER-->
        <div class="bar bar-header bar-energized">

          <div id="header_logout" style="display:none">
            <button class="button button-icon icon ion-navicon text-maroon" ng-click="toggleSideMenuLeft()"></button>
            <div class="h1 title header-title text-maroon">Drop<span class="header-title">BUG</span></div>

            <button class="button button-icon icon ion-person text-maroon" ng-click="toggleSideMenuRight()"></button>
          </div>

          <div id="header_login" style="display:default">
            <button class="button button-clear button-orange" ng-click="signup()">Signup</button>
            <div class="h1 title header-title text-maroon">Drop<span class="header-title">BUG</span></div>
            <button class="button button-clear button-orange" ng-click="login()">Login</button>
          </div>

          <div id="header_newUser" style="display:none">
            <div class="h1 title header-title text-maroon">Drop<span class="header-title">BUG</span></div>
            <button class="button button-icon icon ion-person text-maroon" ng-click="toggleSideMenuRight()"></button>
          </div>

      </div>
      <div growl=""></div> 


<!-- MODAL MODAL MODAL -->
<!-- MODAL MODAL MODAL -->
<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
    <div class="bar bar-header bar-stable">
        <div class="h1 title header-title text-maroon">{{modalTitle}}</div>
        <button class="button button-icon button-orange icon ion-close" ng-click="modal.hide()"></button>
    </div>

    <ion-view>
        <ion-content class="text-center has-header">
        <hr>
        <a class="link" target="_blank" href="{{modalImage}}">
          <h4><i class="fa fa-download"></i> Download Image</h4>
        </a>
        <br>
          <img style="display:block; margin: auto;width: 70%;" src="{{modalImage}}" class="img-responsive">
        <hr><hr><hr>
        </ion-content>
    </ion-view>
  </ion-modal-view>
</script>
<!-- MODAL MODAL MODAL -->
<!-- MODAL MODAL MODAL -->



      <!--END OF HEADER-->

      <!-- ############################################################################################################################## -->
      <!-- ############################################################################################################################## -->

      <!--CONTENT-->
      <ion-side-menus>

        <ion-side-menu-content>
            <ion-nav-view>  
            </ion-nav-view>
        </ion-side-menu-content>

        <!-- SIDE MENU LEFT (Only for Registered User)-->
        <ion-side-menu side="left">        
          <br>
          <br>
          <br>

          <ion-list class="side-bar">
            <a class="item item-icon-left " ng-click="myLinkedUser()">
              <i class="icon ion-android-contacts"></i>
                My Linked User
              <span class="item-note">
                
              </span>
            </a>          

            <a class="item item-icon-left" ng-click="myPendingLinkRequest()">
              <i class="icon ion-clock"></i>
                Pending Request
              <span class="item-note">
              </span>
            </a>                

            <a class="item item-icon-left" ng-click="myCompletedTransaction()">
              <i class="icon ion-clipboard"></i>
                Transaction History
              <span class="item-note">   
              </span>
            </a>  

            <a class="item item-icon-left" ng-click="about()">
              <i class="icon ion-help-circled"></i>
                Why {{APP_CONSTANT.NAME}} ?
              <span class="item-note">   
              </span>
            </a>  


            <a class="item item-icon-left" ng-click="contact()">
                <i class="icon ion-email"></i>
                  Contact Us
            </a>
          </ion-list>
        </ion-side-menu>


        <!-- SIDE MENU RIGHT (Only for Authorized User)-->
        <ion-side-menu side="right" class="side-bar">
          <br>
          <br>
          <br>

          <div class="profile text-center">
            <img src="" alt="profile-image" class="image"><img>    
            <br>    
            <h3 id="name">Name</h3>
            <h5 id="user_type">User Type</h5>
          </div> 

          <a class="item item-icon-left" ng-click="myProfile()">
            <i class="icon ion-gear-a"></i>
              Profile Settings
          </a>

          <a class="item item-icon-left" ng-click="allNotifications()">
            <i class="icon ion-android-notifications"></i>
              Notifications
          </a>
          
          <a class="item item-icon-left" ng-click="comfirmLogout()">
              <i class="icon ion-android-exit"></i>
                Log Out
          </a>

        </ion-side-menu>
      </ion-side-menus>     
      <!--END OF CONTENT-->

      <!-- *************************************************************************************************************************** --> 
      <!-- *************************************************************************************************************************** --> 
      <!--FOOTER-->

      <!--FOOTER FOR DROPSHIP--> 
      <!--FOOTER FOR DROPSHIP--> 
      <div class="tabs tabs-icon-top" id="footer_dropship" style="display:none">
        <a class="tab-item">
          <i class="icon ion-home" ng-click="home()"></i>
            <div>Home</div>
        </a>
        <a class="tab-item">
          <i class="icon ion-person-stalker" ng-click="findUser(USER_TYPE.DROPSHIP)"></i>
            Connect
        </a>

        <a class="tab-item">
          <i class="icon ion-arrow-swap" ng-click="myActiveListing()"></i>
            My Active Listing
        </a>

      </div>          
      
      <!-- *********************************************************************************** --> 
      <!--FOOTER FOR STOCKIST--> 
      <!--FOOTER FOR STOCKIST--> 
      <div class="tabs tabs-icon-top" id="footer_stockist" style="display:none">
        <a class="tab-item">
          <i class="icon ion-home" ng-click="home()"></i>
            <div>Home</div>
        </a>
        <a class="tab-item">
          <i class="icon ion-person-stalker" ng-click="findUser(USER_TYPE.STOCKIST)"></i>
            Connect
        </a>

        <a class="tab-item">
          <i class="icon ion-arrow-swap" ng-click="myActiveListing()"></i>
            My Active Listing
        </a>            

        <a class="tab-item">
          <i class="icon ion-bag" ng-click="myProducts()"></i>
            My Products
        </a>

      </div>    

      <!-- ************************************************************************************* --> 
      <!--FOOTER FOR SUPPLIER--> 
      <!--FOOTER FOR SUPPLIER--> 
      <div class="tabs tabs-icon-top" id="footer_supplier" style="display:none background-color:blue;">
        <a class="tab-item">
          <i class="icon ion-home" ng-click="home()"></i>
            <div>Home</div>
        </a>
        <a class="tab-item">
          <i class="icon ion-person-stalker" ng-click="findUser(USER_TYPE.SUPPLIER)"></i>
            Connect
        </a>

        <a class="tab-item">
          <i class="icon ion-arrow-swap" ng-click="myActiveListing()"></i>
            My Active Listing
        </a>            

        <a class="tab-item">
          <i class="icon ion-bag" ng-click="myProducts()"></i>
            My Products
        </a>

      </div>


      <!-- **************************************************************************************** --> 
      <!--FOOTER FOR NEW USER--> 
      <!--FOOTER FOR NEW USER--> 
      <div class="tabs tabs-icon-top" id="footer_newUser" style="display:default">
        <a class="tab-item">
          <i class="icon ion-home" ng-click="home()"></i>
            <div>Home</div>
        </a>
        <a class="tab-item">
          <i class="icon ion-person-stalker" ng-click="findUser(USER_TYPE.SUPPLIER)"></i>
            Find Users
        </a>        
        <a class="tab-item" ng-click="about()">
          <i class="icon ion-help-circled" ></i>
              Why {{APP_CONSTANT.NAME}}
        </a>

        <a class="tab-item" ng-click="contact()">
          <i class="icon ion-email"></i>
            Contact Us
        </a>
        <br>
        
      </div>

      <!--END OF FOOTER-->


  </body>

</html>
