<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>DropBugz</title>
    
    <!-- compiled css output -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- time ago -->
    <script src="lib/timeago/jquery-3.0.0.min.js"></script>
    <script src="lib/timeago/jquery.timeago.js"></script>
    

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>

    <!-- Backand -->
    <script src="https://cdn.backand.net/backand/dist/1.8.2/backand.min.js"></script>
    <script src="https://cdn.auth0.com/w2/auth0-6.7.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
    <script src="js/constant.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/prototype.js"></script>
    <script type="text/javascript" src="home/home.js"></script>
    <script type="text/javascript" src="login/login-signup.js"></script>
    <script type="text/javascript" src="register/register.js"></script>
    <script type="text/javascript" src="users/users.js"></script>
    <script type="text/javascript" src="transactions/transactions.js"></script>
    <script type="text/javascript" src="products/products.js"></script>
    <script type="text/javascript" src="contact/contact.js"></script>

    <!-- Auth0 Lock -->
    <!--<script src="lib/auth0-lock/build/auth0-lock.js"></script>-->

    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <!-- Growl Notification -->
    <link href="lib/growl/angular-growl.min.css" rel="stylesheet" media="screen"> 
    <script src="lib/growl/angular-growl.min.js"></script>


    <!-- auth0-angular -->
    <script src="lib/auth0-angular/build/auth0-angular.js"></script>
    <script src="lib/auth0.js/build/auth0.js"></script>

    <!-- angular storage -->
    <script src="lib/a0-angular-storage/dist/angular-storage.js"></script>

    <!-- angular-jwt -->
    <script src="lib/angular-jwt/dist/angular-jwt.js"></script>
    <script src="https://code.angularjs.org/1.2.16/angular-route.js" type="text/javascript"> </script>
    <script src="https://code.angularjs.org/1.2.16/angular-cookies.js" type="text/javascript"> </script>

    <!-- angular-js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.js"></script>

    <!-- After commenting this 2 out it seems to be working ??
    <script src="//cdn.auth0.com/w2/auth0-5.js"></script>
    <script src="//cdn.auth0.com/w2/auth0-angular-2.js"> </script>
    -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>

  </head>

  <body ng-app="sample" ng-controller="AppController">

      <!--HEADER-->
        <div class="bar bar-header bar-stable">
          <div id="header_logout" style="display:none">
            <button class="button button-icon icon ion-navicon" ng-click="toggleSideMenuLeft()"></button>
            <div class="h1 title">{{APP_CONSTANT.NAME}}</div>
            <button class="button button-icon icon ion-person" ng-click="toggleSideMenuRight()"></button>
          </div>

          <div id="header_login" style="display:default">
            <button class="button button-clear button-positive" ng-click="signup()">Signup</button>
            <div class="h1 title">{{APP_CONSTANT.NAME}}</div>
            <button class="button button-clear button-positive" ng-click="login()">Login</button>
          </div>
      </div>
      
      <div growl=""></div>

      <!--END OF HEADER-->
          

      <ion-side-menus>

        <ion-side-menu-content>
            <ion-nav-view>   
            </ion-nav-view>
        </ion-side-menu-content>


        <ion-side-menu side="left">        
          <br>
          <br>
          <br>


          <ion-list>
            <a class="item item-icon-left" ng-click="myLinkedUser()">
              <i class="icon ion-android-contacts"></i>
                My Linked User
              <span class="item-note">
                
              </span>
            </a>          

            <a class="item item-icon-left" ng-click="myPendingLinkRequest()">
              <i class="icon ion-clock"></i>
                Pending Request
              <span class="item-note">
              </span>
            </a>                

            <a class="item item-icon-left" ng-click="myCompletedTransaction()">
              <i class="icon ion-clipboard"></i>
                Transaction History
              <span class="item-note">   
              </span>
            </a>  

            <a class="item item-icon-left" ng-click="why()">
                <i class="icon ion-help-circled"></i>
                    Why {{APP_CONSTANT.NAME}}
              </a>

            <a class="item item-icon-left" ng-click="contact()">
                <i class="icon ion-email"></i>
                  Contact Us
            </a>
          </ion-list>
        </ion-side-menu>



        <ion-side-menu side="right">
         <br>
        <br>
          <br>

        <div class="profile text-center">
          <img src="" alt="profile-image" class="image"><img>
                
          <br>
                
          <h3 id="name">Name</h3>
          <h5 id="user_type">User Type</h5>

        </div> 

          <a class="item item-icon-left" ng-click="myProfile()">
            <i class="icon ion-gear-a"></i>
              Profile Settings
          </a>
          
          <a class="item item-icon-left" ng-click="comfirmLogout()">
              <i class="icon ion-android-exit"></i>
                Log Out
          </a>

          </ion-side-menu>

      </ion-side-menus>


      <!--CONTENT-->
          
        <!--<div class="container" ui-view></div>-->
      <!--END OF CONTENT-->

      <!-- The title of the ion-view will be shown on the navbar -->

      <!--FOOTER-->
      <!-- *************************************************************************************************************************** --> 
      <!-- *************************************************************************************************************************** --> 
      
          <!--FOOTER-->

          <!--FOOTER FOR DROPSHIP--> 
          <!--FOOTER FOR DROPSHIP--> 
          <div class="tabs tabs-icon-top" id="footer_dropship" style="display:none">
            <a class="tab-item">
              <i class="icon ion-home" ng-click="home()"></i>
                <div>Home</div>
            </a>
            <a class="tab-item">
              <i class="icon ion-person-stalker" ng-click="findUser(USER_TYPE.DROPSHIP)"></i>
                Connect
            </a>

            <a class="tab-item">
              <i class="icon ion-arrow-swap" ng-click="myActiveListing()"></i>
                My Active Listing
            </a>

          </div>          
          
      <!-- *************************************************************************************************************************** --> 

          <!--FOOTER FOR STOCKIST--> 
          <!--FOOTER FOR STOCKIST--> 
          <div class="tabs tabs-icon-top" id="footer_stockist" style="display:none">
            <a class="tab-item">
              <i class="icon ion-home" ng-click="home()"></i>
                <div>Home</div>
            </a>
            <a class="tab-item">
              <i class="icon ion-person-stalker" ng-click="findUser(USER_TYPE.STOCKIST)"></i>
                Connect
            </a>

            <a class="tab-item">
              <i class="icon ion-arrow-swap" ng-click="myActiveListing()"></i>
                My Active Listing
            </a>            

            <a class="tab-item">
              <i class="icon ion-bag" ng-click="myProducts()"></i>
                My Products
            </a>

          </div>    

      <!-- *************************************************************************************************************************** --> 

          <!--FOOTER FOR SUPPLIER--> 
          <!--FOOTER FOR SUPPLIER--> 
          <div class="tabs tabs-icon-top" id="footer_supplier" style="display:none">
            <a class="tab-item">
              <i class="icon ion-home" ng-click="home()"></i>
                <div>Home</div>
            </a>
            <a class="tab-item">
              <i class="icon ion-person-stalker" ng-click="findUser(USER_TYPE.SUPPLIER)"></i>
                Connect
            </a>

            <a class="tab-item">
              <i class="icon ion-arrow-swap" ng-click="myActiveListing()"></i>
                My Active Listing
            </a>            

            <a class="tab-item">
              <i class="icon ion-bag" ng-click="myProducts()"></i>
                My Products
            </a>

          </div>


      <!-- *************************************************************************************************************************** --> 

          <!--FOOTER FOR NEW USER--> 
          <!--FOOTER FOR NEW USER--> 
          <div class="tabs tabs-icon-top" id="footer_newUser" style="display:default">
            <a class="tab-item">
              <i class="icon ion-home" ng-click="home()"></i>
                <div>Home</div>
            </a>
            <a class="tab-item">
              <i class="icon ion-help-circled" ng-click="why()"></i>
                  Why {{APP_CONSTANT.NAME}}
            </a>

            <a class="tab-item">
              <i class="icon ion-email" ng-click="contact()"></i>
                Contact Us
            </a>
          </div>


    <!--END OF FOOTER-->

      <!-- *************************************************************************************************************************** --> 
      <!-- *************************************************************************************************************************** -->
      <!--END OF FOOTER-->






  </body>

</html>
