    <!--FOOTER-->
        <div class="bar bar-footer bar-stable" >

          <!--FOOTER FOR AGENT--> 
          <!--FOOTER FOR AGENT--> 
          <div class="tabs tabs-icon-top" id="footer_agent" style="display:none">
            <a class="tab-item">
              <i class="icon ion-home" ng-click="home()"></i>
                <div>Home</div>
            </a>
            <a class="tab-item">
              <i class="icon ion-person-stalker" ng-click="suppliers()"></i>
                Find Suppliers
            </a>

            <a class="tab-item">
              <i class="icon ion-arrow-swap" ng-click="transactions()"></i>
                My Transactions
            </a>

            <a class="tab-item">
              <i class="icon ion-gear-a" ng-click="settings"></i>
                Settings
            </a>

          </div>          
          
<!---------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------->

          <!--FOOTER FOR SUPPLIER--> 
          <!--FOOTER FOR SUPPLIER--> 
          <div class="tabs tabs-icon-top" id="footer_supplier" style="display:none">
            <a class="tab-item">
              <i class="icon ion-home" ng-click="home()"></i>
                <div>Home</div>
            </a>
            <a class="tab-item">
              <i class="icon ion-person-stalker" ng-click="agents()"></i>
                Find Agents
            </a>

            <a class="tab-item">
              <i class="icon ion-arrow-swap" ng-click="transactions()"></i>
                My Transactions
            </a>            

            <a class="tab-item">
              <i class="icon ion-bag" ng-click="myProducts()"></i>
                My Products
            </a>

            <a class="tab-item">
              <i class="icon ion-gear-a" ng-click="settings"></i>
                Settings
            </a>
          </div>


<!---------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------->

          <!--FOOTER FOR NEW USER--> 
          <!--FOOTER FOR NEW USER--> 
          <div class="tabs tabs-icon-top" id="footer_newUser" style="display:none">
            <a class="tab-item">
              <i class="icon ion-home" ng-click="home()"></i>
                <div>Home</div>
            </a>
            <a class="tab-item">
              <i class="icon ion-person-stalker" ng-click="why()"></i>
                  Why Melaka
            </a>

            <a class="tab-item">
              <i class="icon ion-gear-a" ng-click="contact()"></i>
                Contact Us
            </a>
          </div>


        </div>
    <!--END OF FOOTER-->