
<ion-view>
<ion-content class="text-center">

       
          <div class="h1 title">Proof Of Payment</div>

		 <button ng-click="closeModal()" class="button button-small button-balanced icon-left ion-cash">Close</button>          


  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
    		 <button ng-click="closeModal()" class="button button-small button-balanced icon-left ion-cash">Close</button>          

      Hello!
    </ion-content>
  </ion-modal-view>

</ion-view>
</ion-content>

