/* Empty. Add your own CSS if you like */



.status-text-success {
	font-family: Courier;
	color: red;
}

.image-fit {
  object-fit: cover;
  
  max-width: 250px;
  max-height: 250px;
}

div.sub-text{
	color: red;

}

.form-control{
  padding-right: 50px;
}

.button-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}

.button-circle:hover {
  opacity: 0.70;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.profile .image {
  border-radius: 50%;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;

}

.profile .image {
  border-radius: 50%;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
}

.profile-image {
  border-radius: 50%;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);

}


.profile h3{
  margin: 0 0 5px;
  font-weight: 250;
}
.profile h5{
  display: block;
  opacity: 0.75;
}

.text-light{
 color : #fff;
}

.text-stable{
 color : #f8f8f8;
}

.text-positive{
 color : #387ef5;
}

.text-calm{
 color : #11c1f3;
}

.text-balanced{
 color : #33cd5f;
}

.text-energized{
 color : #ffc900;
}

.text-assertive{
 color : #ef473a;
}

.text-royal{
 color : #886aea;
}

.text-dark{
 color : #444;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*
.scroll-content{    
  background:url(../img/background3_small.jpg) no-repeat;
  background-size: cover;
  height:100%;
}

ion-side-menu{
  background:url(../img/background3_small.jpg) repeat;
  background-size: cover;
  height:40px;
  float:right;
  margin:0 0 0 5px;
}
*/

@media only screen 
and (max-width : 400px) {
  /*.scroll-content{    
    background:url(../img/background3_small.jpg) no-repeat;
    background-size: cover;
    height:100%;
  }*/


  /* ion-side-menu{
    /*background:url(../img/background3_small.jpg) repeat;
    background-size: cover;
    height:40px;
    float:right;
    margin:0 0 0 5px;
  }*/

  .notification #text{
      font-size: 13px;
  }

  .notification #subtext{
        font-size: 10px;
  }

  .nopadding {
   padding: 0 !important;
   margin: 0 !important;
  }

}
@media only screen 
and (min-width : 321px) {
  /*.scroll-content{    
    background:url(../img/background3_small.jpg) no-repeat;
    background-size: cover;
    height:100%;
  }*/


/*  ion-side-menu{
    /*background:url(../img/background3_small.jpg) repeat;
    background-size: cover;
    height:40px;
    float:right;
    margin:0 0 0 5px;
  }*/



}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) {
  /*.scroll-content{    
    background:url(../img/background3_medium.jpg) no-repeat;
    background-size: cover;
    height:100%;
  }*/

  /*ion-side-menu{
    /*background:url(../img/background3_medium.jpg) repeat;
    background-size: cover;
    height:40px;
    float:right;
    margin:0 0 0 5px;
  }*/
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /*.scroll-content{    
    background:url(../img/background3_high.jpg) no-repeat;
    background-size: cover;
    height:100%;
  }

  ion-side-menu{
    /*background:url(../img/background3_high.jpg) repeat;
    background-size: cover;
    height:40px;
    float:right;
    margin:0 0 0 5px;
  }
  */
}

.paragraph {
  font-size: 15px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}



span > .input-label {
  color: white;
}

hr {
  opacity: 0;
}

textarea {
  outline : none;
  resize: none;
  overflow: auto;
}


.info-with-fa {
  font-size:18px; 
  height: auto; 
  width: auto; 
  margin-left:auto; 
  margin-right:auto;
}


.growl-notification{
font-size: 30px;
}

.bar-header{
  background: #faae1f !important;
}


.tabs-icon-top{
  background: #faae1f !important;
  padding-top: 1px;
}

.tabs-icon-top > a{
  color: #a91e2c !important;
  opacity: 1;
}

.background-orange {
  background: #faae1f !important;
  color:white !important;
}

.background-light-orange {
  background: #fed790 !important;
}

.text-orange{
 color : #faae1f;
}

.text-maroon{
  color: #a91e2c !important;
}

.button:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.header-title{
  font-family: 'Rakkas', cursive;
  font-size: 30px !important;
}

.title > small {
  color: #a91e2c;
  opacity: 0.85;
}

.title {
  color: #a91e2c;
}

.info-text{
  color: #a91e2c;
  opacity: 0.7;
}

.link {
  color: #a91e2c;
  font-style: oblique;

}

.link:hover {
  color: #faae1f; /*orange*/
  opacity: 0.70;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.button-orange{
  background: #faae1f !important;
  color:white !important;
}

.button-orange:hover{
  color:#a91e2c !important;
  box-shadow: 2px 2px 1px #a91e2c;
}

.item{
}

.card{
}

.scroll-content{    
  background-color: #fff3de;
  font-family: "Oswald", sans-serif;
}

.side-bar{
  color: #a91e2c !important;

}

.star{
  color:yellow;
  -webkit-text-stroke: 0.7px black;

}

.star-empty{
  color:white;
  -webkit-text-stroke: 0.7px black;

}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* THUMBNAIL */
/* THUMBNAIL */

/*-----------------------------------------------------------------------------------*/
/*BASIC*/
/*BASIC*/

#image-thumbnail{
  overflow:hidden;
  height:200px;
}

/*-----------------------------------------------------------------------------------*/
/* 1 per row */
/* 1 per row */

@media only screen 
and (min-width : 0px) {
  
  #image-thumbnail{
    height:100px;
  } 

  #description-thumbnail{
  }

}

@media only screen 
and (min-width : 321px) {

  #image-thumbnail{
    height:200px;
  } 

  #description-thumbnail{
  }


}

/*-----------------------------------------------------------------------------------*/
/* more than 1 per row */
/* more than 1 per row */

@media only screen 
and (min-width : 768px) {

  #image-thumbnail{
    height:200px;
  } 

  #description-thumbnail{
    height:70px; 
    overflow:hidden;
  }

}

@media only screen 
and (min-width : 1200px) 
and (max-width : 1500px) {
  
  #image-thumbnail{
    height:100px;
  }

  #image-thumbnail > img{
    
  } 

  #description-thumbnail{
    height:70px; 
    overflow:hidden;
  }

}


/* THUMBNAIL */
/* THUMBNAIL */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.row li {
  width: 33.3%;
  float: left;
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.link-in-item{
  color:black;
}

.list-normal > li{
      margin-bottom: 5px;
      list-style-type: decimal;
}


.alert-tip{
  opacity: 0.7;
}

#load-body{
  background-color: #fff3de;
  position: absolute;
  display: table;
  text-align: center;
  width: 100% !important;
  height: 100% !important;
}

#load-body-inner{
  display: table-cell !important;
  vertical-align: middle !important;
}

.footer-active{
  color:white;
}