/* Empty. Add your own CSS if you like */

.status-text-success {
	font-family: Courier;
	color: red;
}

.image-fit {
  object-fit: cover;
  
  max-width: 250px;
  max-height: 250px;
}

div.sub-text{
	color: red;

}

.all-content{
    background: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.profile .image {
  border-radius: 50%;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);

}
.profile h3 #name{
  margin: 0 0 5px;
  font-weight: 250;
}
.profile h5{
  display: block;
  color: #f39c12;
  opacity: 0.75;
}
