/* Empty. Add your own CSS if you like */

.status-text-success {
	font-family: Courier;
	color: red;
}

.image-fit {
  object-fit: cover;
  
  max-width: 250px;
  max-height: 250px;
}

div.sub-text{
	color: red;

}

.profile .image {
  border-radius: 50%;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);

}

.profile-image {
  border-radius: 50%;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);

}


.profile h3{
  margin: 0 0 5px;
  font-weight: 250;
  color : white;
}
.profile h5{
  display: block;
  opacity: 0.75;
  color:white;
}

.text-light{
 color : #fff;
}

.text-stable{
 color : #f8f8f8;
}

.text-positive{
 color : #387ef5;
}

.text-calm{
 color : #11c1f3;
}

.text-balanced{
 color : #33cd5f;
}

.text-energized{
 color : #ffc900;
}

.text-assertive{
 color : #ef473a;
}

.text-royal{
 color : #886aea;
}

.text-dark{
 color : #444;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.scroll-content{    
  background:url(../img/background3_small.jpg) no-repeat;
  background-size: cover;
  height:100%;
}

ion-side-menu{
  background:url(../img/background3_small.jpg) repeat;
  background-size: cover;
  height:40px;
  float:right;
  margin:0 0 0 5px;
}

@media only screen 
and (min-width : 321px) {
  .scroll-content{    
    background:url(../img/background3_small.jpg) no-repeat;
    background-size: cover;
    height:100%;
  }

  ion-side-menu{
    background:url(../img/background3_small.jpg) repeat;
    background-size: cover;
    height:40px;
    float:right;
    margin:0 0 0 5px;
  }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) {
  .scroll-content{    
    background:url(../img/background3_medium.jpg) no-repeat;
    background-size: cover;
    height:100%;
  }

  ion-side-menu{
    background:url(../img/background3_medium.jpg) repeat;
    background-size: cover;
    height:40px;
    float:right;
    margin:0 0 0 5px;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .scroll-content{    
    background:url(../img/background3_high.jpg) no-repeat;
    background-size: cover;
    height:100%;
  }

  ion-side-menu{
    background:url(../img/background3_high.jpg) repeat;
    background-size: cover;
    height:40px;
    float:right;
    margin:0 0 0 5px;
  }
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.item{
  opacity: 0.80;
}

.card{
  opacity: 0.90;
}

.title > small {
  color: white;
  opacity: 0.85;
}

#mySpinner{
  opacity: 0.85;
}

.title {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.subtitle {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.link {
  color: white;
}

.link:hover {
  color: red;
  opacity: 0.70;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.button:hover {
  opacity: 0.70;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

span > .input-label {
  color: white;
}

hr {
  opacity: 0;
}

textarea {
  outline : none;
  resize: none;
  overflow: auto;
}
